<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pp="http://primefaces.org/poseidon">
    
    <h:form id="menuform"> 
        <div class="layout-menu-container">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <div class="search-input">
                        <input type="text" placeholder="Search"/>
                        <i class="fa fa-search"></i>
                    </div>
                    <pp:menu widgetVar="me">
                        <p:menuitem id="om_dashboard" value="Home" icon="fa fa-fw fa-home" />
                        <p:submenu id="um_themes" label="Alimento" icon="fa fa-fw fa-paint-brush">
                            <p:menuitem id="theme1" value="Novo alimento" icon="fa fa-fw fa-paint-brush" outcome="/admin/alimentos/CadastrarAlimentos" />
                            <p:menuitem id="theme2" value="Listar alimentos" icon="fa fa-fw fa-paint-brush" outcome="/admin/alimentos/PesquisarAlimentos" />
                        </p:submenu>
                        <p:submenu id="um_customization" label="Nutriente" icon="fa fa-fw fa-bars">
                            <p:menuitem id="custom3" value="Novo nutriente" icon="fa fa-fw fa-bars" outcome="/admin/nutriente/CadastrarNutriente"/>
                            <p:menuitem id="custom4" value="Listar nutrientes" icon="fa fa-fw fa-bars" outcome="/admin/nutriente/PesquisarNutriente"/>
                        </p:submenu>
                        <p:submenu id="om_components" label="Origem" icon="fa fa-fw fa-sitemap">
                            <p:menuitem id="om_sample" value="Nova origem" icon="fa fa-fw fa-columns" outcome="/admin/Origem/CadastrarOrigem" />
                            <p:menuitem id="om_forms" value="Listar origens" icon="fa fa-fw fa-code" outcome="/admin/Origem/PesquisarOrigem"  />
                        </p:submenu>
                       
                        <p:submenu id="om_default" label="Simulador" icon="fa fa-fw fa-life-saver">
                            <p:menuitem id="om_empty" value="Aves" icon="fa fa-fw fa-square-o" outcome="/cliente/simulador/aves/SimuladorAves" />
                            <p:menuitem id="om_login" value="Suinos" icon="fa fa-fw fa-sign-in" outcome="/cliente/simulador/suinos/SimuladorSuinos"/>
                        </p:submenu>
                        <p:submenu id="om_hierarchy" label="Exigência" icon="fa fa-fw fa-gg">
                            <p:submenu id="om_sm1" label="Aves" icon="fa fa-fw fa-sign-in">
                                 <p:submenu id="om_lnk111" label="Corte"  icon="fa fa-fw fa-sign-in" >
                                    <p:menuitem id="om_lnk122" value="Termoneutra" outcome="/cliente/exigencia/aves/avesCorteTermoneutro.jsf" icon="fa fa-fw fa-sign-in"/>
                                    <p:menuitem id="om_lnk133" value="Quente" icon="fa fa-fw fa-sign-in"/>
                                 </p:submenu>
                                 <p:menuitem id="om_lnk112" value="Poedeira"  icon="fa fa-fw fa-sign-in"/>
                            </p:submenu>
                            <p:submenu id="om_sm2" label="Suinos" icon="fa fa-fw fa-sign-in">
                                    <p:menuitem id="om_lnk212" value="Machos Castrados" icon="fa fa-fw fa-sign-in" outcome="/cliente/exigencia/suinos/machocastrado"/>
                                <p:submenu id="om_sm22" label="Submenu 2.2" icon="fa fa-fw fa-sign-in">
                                    <p:menuitem id="om_lnk221" value="Link 2.2.1" icon="fa fa-fw fa-sign-in" url="#" />
                                </p:submenu>
                            </p:submenu>
                        </p:submenu>
                        
                    </pp:menu>

                </div>
            </div>
        </div>
    </h:form>
</ui:composition>