<ui:composition template="/WEB-INF/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="title">Sibnas - Simulador</ui:define>

	<ui:define name="viewname">Simulador</ui:define>

	<ui:define name="content">


		<h:form style="margin-left : 2%">

			<div class="ui-fluid">
				<div class="ui-g">
					<div class="ui-g-12">
						<div class="card card-w-title">

							<h1>SIMULADOR DE ENERGIA PARA AVES</h1>

							<div class="ui-g-12 ui-md-6 ui-lg-12 task-list">
								<p:panel header="Alimento para simulação">
									<p:panelGrid columns="2"
										columnClasses="ui-grid-col-8,ui-grid-col-4" layout="grid"
										styleClass="ui-panelgrid-blank form-group"
										style="border:0px none; background-color:transparent;">
										<p:inputText placeholder="Selecione um alimento"
											value="#{aveSimulacaoBean.alimentoSelecionado.nome}" />
										<p:commandButton icon="fa fa-search" type="button"
											onclick="PF('dlg2').show();" />
										<p:panelGrid columns="2"
											columnClasses="ui-grid-col-8,ui-grid-col-4" layout="grid"
											styleClass="ui-panelgrid-blank form-group"
											style="border:0px none; background-color:transparent;">

										</p:panelGrid>
									</p:panelGrid>
									<p:panelGrid columns="4"
										columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4,ui-grid-col-4"
										layout="grid" styleClass="ui-panelgrid-blank form-group"
										style="border:0px none; background-color:transparent;">
										<p:commandButton value="Simular" icon="fa fa-gears"
											action="#{aveSimulacaoBean.simular}" process="@form"
											update="@form:gridGeral:gridSimular" />
										<p:commandButton value="Salvar" icon="fa fa-save" />

										<p:commandButton value="PDF" icon="fa fa-file-pdf-o"
											action="#{aveSimulacaoBean.gerarRelatorioList}"
											process="@form" update="@form" ajax="false">

										</p:commandButton>
										<p:commandButton value="Excel" icon="fa fa-file-excel-o" />
									</p:panelGrid>
								</p:panel>
							</div>

							<p:messages />


                            <p:panelGrid id="gridGeral" columns="2"
										columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid"
										styleClass="ui-panelgrid-blank form-group"
										style="border:0px none; background-color:transparent;">
							
								<p:panel header="Modelo ">

									<h:panelGrid columns="1" columnClasses="ui-grid-col-12">
										<p:dataTable value="#{aveSimulacaoBean.listAlimentoNutriente}"
											var="alimentoAssociado"
											emptyMessage="Nenhum nutriente encontrado.">

											<p:column headerText="Nutriente" styleClass="codigo_tabela">
												<h:outputText value="#{alimentoAssociado.nutriente.nome}" />
											</p:column>

											<p:column headerText="Valor Nutritivo"
												styleClass="codigo_tabela">
												<h:outputText value="#{alimentoAssociado.valorNutritivo}" />
											</p:column>

											<p:column headerText="Unidade">
												<h:selectOneMenu value="#{alimentoAssociado.unidade}"
													disabled="true">
													<f:selectItem itemLabel="%" itemValue="0" />
													<f:selectItem itemLabel="Kcal/kg" itemValue="1" />
													<f:selectItem itemLabel="mg/kg" itemValue="2" />
													<f:selectItem itemLabel="ppm" itemValue="3" />
													<f:selectItem itemLabel="UI" itemValue="4" />
													<f:selectItem itemLabel="mcg/Kg" itemValue="5" />
												</h:selectOneMenu>
											</p:column>

										</p:dataTable>

										<p:panelGrid columns="2"
										columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid"
										styleClass="ui-panelgrid-blank form-group"
										style="border:0px none; background-color:transparent;">
											<h:panelGrid>
												<p:panel id="avesJovensPadrao" header="Aves Jovens"
													footer="Energia Metabolizada Eq.(kcal/kg)"
													style="text-align: center;">
													<h:panelGrid columns="1" >
														<h:outputText
															value="#{aveSimulacaoBean.padraoAvesJovensEnergiaMetabolizada}"
															style="font-size: 25px;color: red;font-weight: bold;font-style: italic;text-align: center;" />
													</h:panelGrid>
												</p:panel>
											</h:panelGrid>
											<h:panelGrid>
												<p:panel id="galinhasPadrao" header="Galinhas"
													footer="Energia Metabolizada Eq.(kcal/kg)"
													style="text-align: center;">
													<h:panelGrid columns="1" >
														<h:outputText
															value="#{aveSimulacaoBean.padraoGalinhasEnergiaMetabolizada}"
															style="font-size: 25px;color: red;font-weight: bold;font-style: italic;text-align: center;" />
													</h:panelGrid>
												</p:panel>
											</h:panelGrid>
										</p:panelGrid>

									</h:panelGrid>
								</p:panel>
								
								<p:panel header="Simulação">
									<h:panelGrid id="gridSimular" columns="1">
										<p:dataTable
											value="#{aveSimulacaoBean.listAlimentoNutrienteSimular}"
											var="alimentoAssociado"
											emptyMessage="Nenhum nutriente encontrado." editable="true"
											editMode="cell">


											<p:column headerText="Código nutriente" rendered="false"
												styleClass="codigo_tabela">
												<h:outputText value="#{alimentoAssociado.nutriente.codigo}" />
											</p:column>
											<p:column headerText="Nutriente" styleClass="codigo_tabela">
												<h:outputText value="#{alimentoAssociado.nutriente.nome}" />
											</p:column>

											<p:column headerText="Valor Nutritivo"
												styleClass="codigo_tabela">
												<p:cellEditor>
													<f:facet name="output">
														<h:outputText value="#{alimentoAssociado.valorNutritivo}" />
													</f:facet>
													<f:facet name="input">
														<h:inputText value="#{alimentoAssociado.valorNutritivo}"
															disabled="#{aveSimulacaoBean.naoEditavel(alimentoAssociado.nutriente.codigo)}" />
													</f:facet>
												</p:cellEditor>
											</p:column>

											<p:column headerText="Unidade">

												<h:selectOneMenu value="#{alimentoAssociado.unidade}"
													disabled="true">
													<f:selectItem itemLabel="%" itemValue="0" />
													<f:selectItem itemLabel="Kcal/kg" itemValue="1" />
													<f:selectItem itemLabel="mg/kg" itemValue="2" />
													<f:selectItem itemLabel="ppm" itemValue="3" />
													<f:selectItem itemLabel="UI" itemValue="4" />
													<f:selectItem itemLabel="mcg/Kg" itemValue="5" />
												</h:selectOneMenu>
											</p:column>
										</p:dataTable>

										<p:panelGrid columns="2"
										columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid"
										styleClass="ui-panelgrid-blank form-group"
										style="border:0px none; background-color:transparent;">

											<h:panelGrid>
												<p:panel id="avesJovensSimulado" header="Aves Jovens"
													footer="Energia Metabolizada Eq.(kcal/kg)"
													style="text-align: center;">
													<h:panelGrid columns="1">
														<h:outputText id="eveSimular"
															value="#{aveSimulacaoBean.avesJovensEnergiaMetabolizada}"
															style="font-size: 25px;color: red;font-weight: bold;font-style: italic;text-align: center;" />
													</h:panelGrid>
												</p:panel>
											</h:panelGrid>
											<h:panelGrid>
												<p:panel id="galinhasSimulado" header="Galinhas"
													footer="Energia Metabolizada Eq.(kcal/kg)"
													style="text-align: center;">
													<h:panelGrid columns="1">
														<h:outputText id="galinhaSimular"
															value="#{aveSimulacaoBean.galinhasEnergiaMetabolizada}"
															style="font-size: 25px;color: red;font-weight: bold;font-style: italic;text-align: center;" />
													</h:panelGrid>
												</p:panel>
											</h:panelGrid>
										</p:panelGrid>
									</h:panelGrid>
								</p:panel>
							</p:panelGrid>

							<p:dialog resizable="false"
								header="Selecione o alimento que deseja simular"
								widgetVar="dlg2" modal="true" height="300" showEffect="clip"
								hideEffect="explode" width="40%">

								<p:toolbar style="margin-top:20px">
									<p:toolbarGroup>
										<p:commandButton value="Pesquisar"
											action="#{aveSimulacaoBean.pesquisar}" update="dtct" />
									</p:toolbarGroup>
								</p:toolbar>


								<h:panelGrid columns="2" style="margin-top:20px">
									<p:outputLabel value="Código" for="codigo"
										style="font-weight:bold;" />
									<p:inputText id="codigo"
										value="#{aveSimulacaoBean.alimentoFilter.codigo}" />

									<p:outputLabel value="Alimento" for="alimento"
										style="font-weight:bold" />
									<p:inputText id="alimento"
										value="#{aveSimulacaoBean.alimentoFilter.nome}" />



								</h:panelGrid>


								<p:dataTable id="dtct" value="#{aveSimulacaoBean.listAlimento}"
									var="alimento" style="margin-top:20px"
									emptyMessage="Nenhum alimento encontrado." rows="50"
									paginator="true" paginatorAlwaysVisible="false"
									paginatorPosition="bottom">


									<p:column headerText="Código" style="width:15%">
										<h:outputText value="#{alimento.codigo}" />
									</p:column>


									<p:column headerText="Alimento">
										<h:outputText value="#{alimento.nome}" />
									</p:column>



									<p:column headerText="" style="width:10%">

										<p:commandButton icon="ui-icon-check" style="width:100%"
											partialSubmit="true" action="#{aveSimulacaoBean.selecionar}"
											title="Selecionar" process="@form" update="@form"
											onclick="PF('dlg2').hide();">
											<f:setPropertyActionListener value="#{alimento}"
												target="#{aveSimulacaoBean.alimentoSelecionado}" />
										</p:commandButton>

									</p:column>

								</p:dataTable>
								<br />
							</p:dialog>
						</div>
					</div>
				</div>
			</div>

		</h:form>


	</ui:define>
</ui:composition>