<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="title">Dashboard</ui:define>

    <ui:define name="viewname">Dashboard</ui:define>

    <ui:define name="head">
           <script type="text/javascript">
               //<![CDATA[
               function skinChart() {
                   this.cfg.shadow = false;
                   this.cfg.title = '';
                   this.cfg.seriesColors = ['#00acac', '#3e96e7'];
                   this.cfg.grid = {
                       background: '#ffffff',
                       borderColor: '#ffffff',
                       gridLineColor: '#EEEEEE',
                       shadow: false
                   };
                   this.cfg.axesDefaults = {
                       rendererOptions: {
                           textColor: '#212121'
                       }
                   };
                   this.cfg.seriesDefaults = {
                       shadow: false,
                       lineWidth: 1,
                       markerOptions: {
                           shadow: false,
                           size: 7,
                           style: 'circle'
                       }
                   }
               }
               //]]>  
           </script>
           <style type="text/css">
               .main-content {
                   padding: 0;
               }
           </style>
       </ui:define>

    <ui:define name="content">
        
    </ui:define>

</ui:composition>