<ui:composition template="/WEB-INF/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="title">Sibnas - Origem</ui:define>

	<ui:define name="viewname">Origem</ui:define>

	<ui:define name="content">


		<h:form style="margin-left:6px;margin-right:6px">
			<div class="ui-fluid">
				<div class="ui-g">
					<div class="ui-g-12">
						<div class="card card-w-title">

							<h1>NOVA ORIGEM</h1>

							<h:inputHidden value="{origemBean.origem.id}" />

                               <p:panelGrid columns="2"
								columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
								layout="grid" styleClass="ui-panelgrid-blank form-group"
								style="border:0px none; background-color:transparent;">
							
								<p:outputLabel value="Origem" for="nome" />
								<p:inputText id="nome" value="#{origemBean.origem.nome}"
									required="true"
									requiredMessage="É necessário informar o nome da origem." />
							    <p:outputLabel value="" />	
							    <p:commandButton value="Cadastrar"
										update="@form" action="#{origemBean.salvar}" process="@form" />	

                         </p:panelGrid>
							
							<p:messages />
						</div>
					</div>
				</div>
			</div>
		</h:form>

	</ui:define>
</ui:composition>