<ui:composition template="/WEB-INF/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">


	<ui:define name="title">Sibnas - Origem</ui:define>

	<ui:define name="viewname">Origem</ui:define>

	<ui:define name="content">

		<h:form>
		
             <div class="ui-fluid">
				<div class="ui-g">
					<div class="ui-g-12">

					<div class="card card-w-title">

						<h1>GERENCIMENTO DE ORIGENS</h1>

						<p:messages />
						
							<p:panelGrid columns="3"
								columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4"
								layout="grid" styleClass="ui-panelgrid-blank form-group"
								style="border:0px none; background-color:transparent;">
								<p:inputText placeholder="Nutriente"
									value="#{nutrienteBean.nutrienteFilter.nome}" />
								<p:commandButton value="Pesquisar" icon="ui-icon-search"
									process="@form" update="@form"
									action="#{nutrienteBean.pesquisar}" />
								<p:button value="Novo" icon="ui-icon-plus"
									outcome="/admin/nutriente/CadastrarNutriente" />

							</p:panelGrid>

						<p:dataTable id="table_origem" value="#{origemBean.listar}"
							var="origem" style="margin-top:20px"
							emptyMessage="Nenhuma origem encontrada." rows="20" reflow="true"
							paginator="true" stickyHeader="true">

							<p:column headerText="Origem" sortBy="#{origem.nome}">
								<h:outputText value="#{origem.nome}" />
							</p:column>
							<p:column headerText="Alterar" style="width:5%">
								<p:commandButton icon="ui-icon-refresh"
									action="#{origemBean.editar}" process="@form" update="@form">
									<f:setPropertyActionListener target="#{origemBean.origem}"
										value="#{origem}" />
								</p:commandButton>
							</p:column>
							<p:column headerText="Excluir" style="width:5%">
								<p:commandButton icon="ui-icon-trash"
									action="#{origemBean.excluir}" process="@form" update="@form">
									<f:setPropertyActionListener value="#{origem}"
										target="#{origemBean.origemSelecionado}" />
								</p:commandButton>
							</p:column>
							<f:facet name="footer">Origem cadastrados</f:facet>
						</p:dataTable>
                      </div>
					</div>
				</div>
			</div>
		</h:form>

	</ui:define>
</ui:composition>