<ui:composition template="/WEB-INF/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<ui:define name="head">
        <style type="text/css">
            .nba-grid {
                width: 100%;
                table-layout: fixed;
                word-wrap: break-word;
            }
            
            .ui-scrollpanel-content p:first-child {
                margin: 0;
            }
        </style>
    </ui:define>
	
	<ui:define name="title">Sibnas - Exigência</ui:define>

	<ui:define name="viewname">Exigência/Aves/Corte/Termoneutro</ui:define>

	<ui:define name="content">
	
	
	  <div class="ui-fluid">
				<div class="ui-g">
					<div class="ui-g-12">

					<div class="card card-w-title">

						<h1>EXIGÊNCIA DE AVES NO TERMONEUTRO</h1>
						
						<h:form>

						
					<p:panel header="Dados">	
						<p:panelGrid columns="3"
								columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4"
								layout="grid" styleClass="ui-panelgrid-blank form-group"
								style="border:0px none; background-color:transparent;">
                                

								<p:panelGrid styleClass="nba-grid">
									<f:facet name="header">
										<p:row>
											<p:column colspan="3">Dados principais</p:column>
										</p:row>
									</f:facet>

									<p:row>
										<p:column style="font-weight: bold;">Peso ao 1º dia</p:column>
										<p:column style="font-weight: bold;">g</p:column>
										<p:column style="font-weight: bold;">
											<p:inputText value="#{exigenciaCorteBean.exigenciaAves.pesoDia1}" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Idade Abate</p:column>
										<p:column style="font-weight: bold;">dia</p:column>
										<p:column style="font-weight: bold;">
											<p:inputText value="#{exigenciaCorteBean.exigenciaAves.idadeAbate}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">GPD</p:column>
										<p:column style="font-weight: bold;">g/d</p:column>
										<p:column style="font-weight: bold;">
											<p:inputText value="#{exigenciaCorteBean.exigenciaAves.ganhoPesoDiario}" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">CA</p:column>
										<p:column style="font-weight: bold;">g/g</p:column>
										<p:column style="font-weight: bold;">
											<p:inputText  value="#{exigenciaCorteBean.exigenciaAves.consumoAcumulado}">
											     <f:convertNumber minFractionDigits="2" locale="#{usuarioBean.usuario.idioma}" />
											</p:inputText>
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Peso Abate</p:column>
										<p:column style="font-weight: bold;">g</p:column>
										<p:column style="font-weight: bold;">
											<p:inputText value="#{exigenciaCorteBean.exigenciaAves.pesoAbate}">
											 <f:convertNumber type="currency" locale="#{usuarioBean.usuario.idioma}" />
											</p:inputText>
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Cons. Ração</p:column>
										<p:column style="font-weight: bold;">g</p:column>
										<p:column style="font-weight: bold;">
											<p:inputText value="#{exigenciaCorteBean.exigenciaAves.consumoRacao}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Ganho ao Abate</p:column>
										<p:column style="font-weight: bold;">g</p:column>
										<p:column style="font-weight: bold;">
											<p:inputText value="#{exigenciaCorteBean.exigenciaAves.ganhoAbate}" />
										</p:column>
									</p:row>

									<f:facet name="footer">
										<p:row>
											<p:column colspan="3" style="text-align: right">
											
											<p:commandButton actionListener="#{exigenciaCorteBean.destribuiFases}" value="Calcular exigência" update="@form"/>
											</p:column>

										</p:row>
									</f:facet>
								</p:panelGrid>
	
								<p:panelGrid columns="1" style="margin-bottom:10px"
									layout="grid" styleClass="form-group ui-panelgrid-blank">

									<p:selectOneMenu id="console"
										value="1"
										style="margin-bottom:10px;">
										<f:selectItem itemLabel="Selecione o sexo" itemValue=""
											noSelectionOption="true" />
										<f:selectItem itemLabel="Misto Médio" itemValue="Xbox One" />
										<f:selectItem itemLabel="Misto Superior" itemValue="PS4" />
										<f:selectItem itemLabel="Macho Médio" itemValue="Xbox One" />
										<f:selectItem itemLabel="Macho Superior" itemValue="PS4" />
										<f:selectItem itemLabel="Fêmia Médio" itemValue="Xbox One" />
										<f:selectItem itemLabel="Fêmia Superior" itemValue="PS4" />
									</p:selectOneMenu>
									
									<p:panelGrid styleClass="nba-grid">
									<f:facet name="header">
										<p:row>
											<p:column colspan="1"></p:column>
											<p:column colspan="1">EMAn</p:column>
										</p:row>
										<p:row>
											<p:column colspan="1">Fases</p:column>
											<p:column colspan="1">kcal/kg</p:column>
										</p:row>

									</f:facet>

									<p:row>
										<p:column style="font-weight: bold;">Pré-inicial</p:column>
										<p:column style="font-weight: bold;">
											<p:inputText  value="#{exigenciaCorteBean.exigenciaAves.preInicial}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Inicial</p:column>
										<p:column style="font-weight: bold;">
											<p:inputText value="#{exigenciaCorteBean.exigenciaAves.inicial}" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Crescimento</p:column>
										<p:column style="font-weight: bold;">
											<p:inputText value="#{exigenciaCorteBean.exigenciaAves.crescimento}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Engorda</p:column>
										<p:column style="font-weight: bold;">
											<p:inputText value="#{exigenciaCorteBean.exigenciaAves.engorda}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Abate</p:column>
										<p:column style="font-weight: bold;">
											<p:inputText value="#{exigenciaCorteBean.exigenciaAves.abate}" />
										</p:column>
									</p:row>

									<f:facet name="footer">
										<p:row>
											<p:column colspan="2" style="text-align: right">
                                    Opicinal
                                </p:column>

										</p:row>
									</f:facet>
								</p:panelGrid>


								</p:panelGrid>
							</p:panelGrid>
					</p:panel>	
					
					<p:panel header="Analise Termoneutro">
					   <p:messages />
					   <p:panelGrid columns="2"
								columnClasses="ui-grid-col-6,ui-grid-col-6"
								layout="grid" styleClass="ui-panelgrid-blank form-group"
								style="border:0px none; background-color:transparent;">
								
							
						
						<p:panel header="Simulado">
						  <p:panelGrid styleClass="nba-grid">
									<f:facet name="header">
										<p:row>
											 <p:column  colspan="2" rowspan="4"></p:column>
											 <p:column  colspan="5">Idade, dias</p:column>
										</p:row>
										<p:row>
										    <p:column  colspan="1">#{exigenciaCorteBean.exigenciaAves.fasesDinamico[0][0]}</p:column>
										    <p:column  colspan="1">#{exigenciaCorteBean.exigenciaAves.fasesDinamico[1][0]}</p:column>
										    <p:column  colspan="1">#{exigenciaCorteBean.exigenciaAves.fasesDinamico[2][0]}</p:column>
										    <p:column  colspan="1">#{exigenciaCorteBean.exigenciaAves.fasesDinamico[3][0]}</p:column>
										    <p:column  colspan="1">#{exigenciaCorteBean.exigenciaAves.fasesDinamico[4][0]}</p:column>
										    
										</p:row>
										<p:row>
										    <p:column  colspan="1">a</p:column>
										    <p:column  colspan="1">a</p:column>
										    <p:column  colspan="1">a</p:column>
										    <p:column  colspan="1">a</p:column>
										    <p:column  colspan="1">a</p:column>
										</p:row>
										<p:row>
										    <p:column  colspan="1">
												<p:inputText id="fase1" value="#{exigenciaCorteBean.exigenciaAves.fasesDinamico[0][1]}">
													<p:ajax event="keyup" update="@form" listener="#{exigenciaCorteBean.ajustaFases(1)}" />
												</p:inputText>
											</p:column>
										    <p:column  colspan="1">
										    <p:inputText id="fase2" value="#{exigenciaCorteBean.exigenciaAves.fasesDinamico[1][1]}">
													<p:ajax event="keyup" update="@form" listener="#{exigenciaCorteBean.ajustaFases(2)}" />
												</p:inputText>
                                            </p:column>
										    <p:column  colspan="1">
										    <p:inputText id="fase3" value="#{exigenciaCorteBean.exigenciaAves.fasesDinamico[2][1]}">
													<p:ajax event="keyup" update="@form" listener="#{exigenciaCorteBean.ajustaFases(3)}" />
												</p:inputText>
                                            </p:column>
										    <p:column  colspan="1">
										    <p:inputText id="fase4" value="#{exigenciaCorteBean.exigenciaAves.fasesDinamico[3][1]}">
													<p:ajax event="keyup" update="@form" listener="#{exigenciaCorteBean.ajustaFases(4)}" />
												</p:inputText>
										    </p:column>
										    <p:column  colspan="1">#{exigenciaCorteBean.exigenciaAves.fasesDinamico[4][1]}</p:column>
										    
										</p:row>
									</f:facet>
									<p:row>
									    <p:column>Peso médio</p:column>
									    <p:column>kg</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									  
									</p:row>
									<p:row>
									    <p:column>Ganho, período</p:column>
									    <p:column>g</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									  
									</p:row>
									<p:row>
									    <p:column>Consumo, período</p:column>
									    <p:column>g</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									  
									</p:row>
									<p:row>
									    <p:column>Conversão Alimentar</p:column>
									    <p:column>g/g</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									  
									</p:row>
									<p:row>
									    <p:column>Ganho</p:column>
									    <p:column>g/dia</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									  
									</p:row>
									<p:row>
									    <p:column>Consumo</p:column>
									    <p:column>g/dia</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									    <p:column>0</p:column>
									  
									</p:row>
								</p:panelGrid>
								
						</p:panel>
						<p:panel header="Tabulado"></p:panel>
								
					   </p:panelGrid>			
					
					</p:panel>
					
					 <p:accordionPanel multiple="true">
                        <p:tab title="Nutriente">
                            <h:outputText
                            value="The story begins as Don Vito Corleone. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Aenean blandit tortor a ipsum vehicula, in semper sapien auctor. Nulla tempor eget est non consequat. The story begins as Don Vito Corleone. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Aenean blandit tortor a ipsum vehicula, in semper sapien auctor. Nulla tempor eget est non consequat." />
                        </p:tab>
                        
                        <p:tab title="Aminoácido Digestível" closable="true">
                            <h:outputText value="Francis Ford Coppola's legendary. Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The Godfather's depiction of the dark side of the American dream.
                                      In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy,
                                      killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows." />
                        </p:tab>
                        
                    </p:accordionPanel>	
					</h:form>
					</div>
				</div>
			</div>
		</div>				
	</ui:define>
	
</ui:composition>