<ui:composition template="/WEB-INF/template/novotemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
 <p:separator/>
	<ui:define name="conteudo">
		<h:form style="margin-left : 2%">
			
			<br />
			<h1>Pesquisar alimentos para simulação</h1>
			<!-- 			<p:separator /> -->

			<p:toolbar style="margin-right: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Selecionar alimento" icon="fa fa-search"
						type="button" onclick="PF('dlg2').show();" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:commandButton value="Simular" icon="fa fa-gears"
						action="#{suinoSimulacaoBean.simular}" process="@form"
						update="@form:gridGeral:gridSimular,Comparativo_Porcas,Comparativo_Suinos" 
						ajax="true"/>
					<p:commandButton value="Salvar" icon="fa fa-save" />
					<p:separator />
					<p:commandButton icon="fa fa-file-pdf-o" />
					<p:commandButton icon="fa fa-file-excel-o" />
				</p:toolbarGroup>

			</p:toolbar>

			<h2>Selecionou o alimento :
				#{suinoSimulacaoBean.alimentoSelecionado.nome}</h2>

			<h:panelGrid id="gridGeral" columns="2" style="margin-right:20px">
				<h:panelGrid columns="1" style="margin-top:20px;margin-left:20px">
					<p:fieldset legend="Modelo " collapsed="200">
						<p:dataTable value="#{suinoSimulacaoBean.listAlimentoNutriente}"
							var="alimentoAssociado"
							emptyMessage="Nenhum nutriente encontrado.">

							<p:column headerText="Nutriente" styleClass="codigo_tabela">
								<h:outputText value="#{alimentoAssociado.nutriente.nome}" />
							</p:column>

							<p:column headerText="Valor Nutritivo" styleClass="codigo_tabela">
								<h:outputText value="#{alimentoAssociado.valorNutritivo}" />
							</p:column>

							<p:column headerText="Unidade">
								<h:selectOneMenu value="#{alimentoAssociado.unidade}"
									disabled="true">
									<f:selectItem itemLabel="%" itemValue="0" />
									<f:selectItem itemLabel="Kcal/kg" itemValue="1" />
									<f:selectItem itemLabel="mg/kg" itemValue="2" />
									<f:selectItem itemLabel="ppm" itemValue="3" />
									<f:selectItem itemLabel="UI" itemValue="4" />
									<f:selectItem itemLabel="mcg/Kg" itemValue="5" />
								</h:selectOneMenu>
							</p:column>

						</p:dataTable>
					</p:fieldset>
				</h:panelGrid>

				<h:panelGrid id="gridSimular" columns="1"
					style="margin-top:20px;margin-left:20px">
					<p:fieldset legend="Simulação ">
						<p:dataTable
							value="#{suinoSimulacaoBean.listAlimentoNutrienteSimular}"
							var="alimentoAssociado"
							emptyMessage="Nenhum nutriente encontrado." editable="true"
							editMode="cell" >

							<p:column headerText="Código nutriente" rendered="false"
								styleClass="codigo_tabela">
								<h:outputText value="#{alimentoAssociado.nutriente.codigo}" />
							</p:column>
							<p:column headerText="Nutriente" styleClass="codigo_tabela">
								<h:outputText value="#{alimentoAssociado.nutriente.nome}"  />
							</p:column>

							<p:column headerText="Valor Nutritivo" styleClass="codigo_tabela">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{alimentoAssociado.valorNutritivo}" />
									</f:facet>
									<f:facet name="input">
										<h:inputText value="#{alimentoAssociado.valorNutritivo}"
											disabled="#{suinoSimulacaoBean.naoEditavel(alimentoAssociado.nutriente.codigo)}" style="font-color:black;"/>
									</f:facet>
								</p:cellEditor>
							</p:column>

							<p:column headerText="Unidade">

								<h:selectOneMenu value="#{alimentoAssociado.unidade}"
									disabled="true">
									<f:selectItem itemLabel="%" itemValue="0" />
									<f:selectItem itemLabel="Kcal/kg" itemValue="1" />
									<f:selectItem itemLabel="mg/kg" itemValue="2" />
									<f:selectItem itemLabel="ppm" itemValue="3" />
									<f:selectItem itemLabel="UI" itemValue="4" />
									<f:selectItem itemLabel="mcg/Kg" itemValue="5" />
								</h:selectOneMenu>
							</p:column>
						</p:dataTable>
					</p:fieldset>
				</h:panelGrid>


			</h:panelGrid>


			<h:panelGrid columns="1" style="margin: 0 auto;">
				<p:fieldset legend="Comparativo ">

					<h:panelGrid width="600px">
						<p:dataTable id="Comparativo_Suinos" value="#{suinoSimulacaoBean.comparativosSuinos}"
							var="alimentoAssociado"
							emptyMessage="Nenhum nutriente encontrado." editable="true"
							editMode="cell">
							<f:facet name="header">
         			 Suinos
      			 </f:facet>

							<p:column headerText="Código nutriente" rendered="false"
								styleClass="codigo_tabela">
								<h:outputText value="#{alimentoAssociado.nutriente.codigo}" />
							</p:column>
							<p:column headerText="- - -" styleClass="codigo_tabela">
								<h:outputText value="#{alimentoAssociado.enerTab.nome}" />
							</p:column>

							<p:column headerText="Tab. Bras. (Kcal/kg)"
								styleClass="codigo_tabela">

								<h:outputText value="#{alimentoAssociado.enerTab.valor_nutritivo}" />

							</p:column>

							<p:column headerText="Equa. (Kcal/kg)">
								<h:outputText value="#{alimentoAssociado.enerCal.valor_nutritivo}" />
							</p:column>
							<p:column headerText="Simulação (Kcal/kg)">
								<h:outputText value="#{alimentoAssociado.enerSim.valor_nutritivo}" />
							</p:column>
						</p:dataTable>
					</h:panelGrid>
					<br />
					<br />
					
					<h:panelGrid width="600px">
						<p:dataTable id="Comparativo_Porcas" value="#{suinoSimulacaoBean.comparativosPorcas}"
							var="alimentoAssociado"
							emptyMessage="Nenhum nutriente encontrado." editable="true"
							editMode="cell">
							<f:facet name="header">
         			 Porcas
      			 </f:facet>

							<p:column headerText="Código nutriente" rendered="false"
								styleClass="codigo_tabela">
								<h:outputText value="#{alimentoAssociado.nutriente.codigo}" />
							</p:column>
							<p:column headerText="- - -" styleClass="codigo_tabela">
								<h:outputText value="#{alimentoAssociado.enerTab.nome}" />
							</p:column>

							<p:column headerText="Tab. Bras. (Kcal/kg)"
								styleClass="codigo_tabela">

								<h:outputText value="#{alimentoAssociado.enerTab.valor_nutritivo}" />

							</p:column>

							<p:column headerText="Equa. (Kcal/kg)">
								<h:outputText value="#{alimentoAssociado.enerCal.valor_nutritivo}" />
							</p:column>
							<p:column headerText="Simulação (Kcal/kg)">
								<h:outputText value="#{alimentoAssociado.enerSim.valor_nutritivo}" />
							</p:column>
						</p:dataTable>
					</h:panelGrid>

				</p:fieldset>
			</h:panelGrid>


			<br />
			<br />

			<p:dialog resizable="false"
				header="Selecione o alimento que deseja simular" widgetVar="dlg2"
				modal="true" height="300" showEffect="clip" hideEffect="explode"
				width="40%">

				<p:toolbar style="margin-top:20px">
					<p:toolbarGroup>
						<p:commandButton value="Pesquisar"
							action="#{suinoSimulacaoBean.pesquisar}" update="dtct" />
					</p:toolbarGroup>
				</p:toolbar>


				<h:panelGrid columns="2" style="margin-top:20px">
					<p:outputLabel value="Código" for="codigo"
						style="font-weight:bold;" />
					<p:inputText id="codigo"
						value="#{suinoSimulacaoBean.alimentoFilter.codigo}" />

					<p:outputLabel value="Alimento" for="alimento"
						style="font-weight:bold" />
					<p:inputText id="alimento"
						value="#{suinoSimulacaoBean.alimentoFilter.nome}" />



				</h:panelGrid>


				<p:dataTable id="dtct" value="#{suinoSimulacaoBean.listAlimento}"
					var="alimento" style="margin-top:20px"
					emptyMessage="Nenhum alimento encontrado." rows="50"
					paginator="true" paginatorAlwaysVisible="false"
					paginatorPosition="bottom">


					<p:column headerText="Código" style="width:15%">
						<h:outputText value="#{alimento.codigo}" />
					</p:column>


					<p:column headerText="Alimento">
						<h:outputText value="#{alimento.nome}" />
					</p:column>



					<p:column headerText="Selecionar" style="width:35%">
						<p:commandButton icon="ui-icon-check" style="width:100%"
							partialSubmit="true" action="#{suinoSimulacaoBean.selecionar}"
							title="Selecionar" process="@form" update="@form"
							onclick="PF('dlg2').hide();">
							<f:setPropertyActionListener value="#{alimento}"
								target="#{suinoSimulacaoBean.alimentoSelecionado}" />
						</p:commandButton>

					</p:column>

				</p:dataTable>
				<br />
			</p:dialog>
			<p:messages />

		</h:form>

	</ui:define>
</ui:composition>