<ui:composition template="/WEB-INF/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="head">
		<style type="text/css">
.nba-grid {
	width: 100%;
	table-layout: fixed;
	word-wrap: break-word;
}

.ui-scrollpanel-content p:first-child {
	margin: 0;
}
</style>
	</ui:define>

	<ui:define name="title">Sibnas - Exigência</ui:define>

	<ui:define name="viewname">Exigência/Suínos/Machos Castrados</ui:define>

	<ui:define name="content">


		<div class="ui-fluid">
			<div class="ui-g">
				<div class="ui-g-12">

					<div class="card card-w-title">

						<h1>EXIGÊNCIA DE SUÌNOS MACHOS CASTRADOS</h1>

						<h:form id="frm">
							<p:growl id="messages" showDetail="true" />
							<p:messages id="avisos" />


							<p:panelGrid id="painelGrid">
								<f:facet name="header">
									<p:row>
										<p:column colspan="7"></p:column>
									</p:row>
									<p:row>
										<p:column>
										</p:column>
										<p:column colspan="2" style="text-align:center">Inicial</p:column>
										<p:column colspan="2" style="text-align:center">Crescimento</p:column>
										<p:column colspan="2" style="text-align:center">Terminação</p:column>
									</p:row>
								</f:facet>

								<p:row style="text-align:center">
									<p:column style="font-weight: bold;">Dados</p:column>
									<p:column style="font-weight: bold;">I</p:column>
									<p:column style="font-weight: bold;">II</p:column>
									<p:column style="font-weight: bold;">I</p:column>
									<p:column style="font-weight: bold;">II</p:column>
									<p:column style="font-weight: bold;">I</p:column>
									<p:column style="font-weight: bold;">II</p:column>
								</p:row>

								<p:row>
									<p:column style="font-weight: bold;">Peso Médio</p:column>
									<p:column>
										<p:spinner id="pmi1" style="width:100%"
											value="#{machosCastradosBean.suinoInicial1.pesoMedio}"
											stepFactor="0.1" min="0.0" max="0.0000">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="4" minFractionDigits="2" />
											<p:ajax event="blur"
												listener="#{machosCastradosBean.verificarPesoMedioInicial}"
												process=":frm:pmi1" update=":frm:pmi1 :frm:avisos" />
										</p:spinner>
									</p:column>
									<p:column>
										<p:spinner id="pmi2" style="width:100%"
											value="#{machosCastradosBean.suinoInicial2.pesoMedio}"
											stepFactor="0.1" min="0.0" max="0.0000">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="4" minFractionDigits="2" />
											<p:ajax event="blur"
												listener="#{machosCastradosBean.verificarPesoMedioInicial2}"
												process=":frm:pmi2" update=":frm:pmi2 :frm:avisos" />
										</p:spinner>
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
								</p:row>
								<p:row>
									<p:column style="font-weight: bold;">Ganho de Peso</p:column>
									<p:column>
										<p:spinner id="gpi1" style="width:100%"
											value="#{machosCastradosBean.suinoInicial1.ganhoPeso}"
											stepFactor="0.1" min="0.0">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="4" minFractionDigits="2" />
											<p:ajax event="blur" process=":frm:gpi1" update=":frm:gpi1" />
										</p:spinner>
									</p:column>
									<p:column>
										<p:spinner id="gpi2" style="width:100%"
											value="#{machosCastradosBean.suinoInicial2.ganhoPeso}"
											stepFactor="0.1" min="0.0">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="4" minFractionDigits="2" />
											<p:ajax event="blur" process=":frm:gpi2" update=":frm:gpi2" />
										</p:spinner>
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
								</p:row>
								<p:row>
									<p:column style="font-weight: bold;">Consumo de Ração</p:column>
									<p:column>
										<p:spinner id="cri1" style="width:100%"
											value="#{machosCastradosBean.suinoInicial1.consumoRacao}"
											stepFactor="0.1" min="0.0">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="4" minFractionDigits="2" />
											<p:ajax event="blur" process=":frm:cri1" update=":frm:cri1" />
										</p:spinner>
									</p:column>
									<p:column>
										<p:spinner id="cri2" style="width:100%"
											value="#{machosCastradosBean.suinoInicial2.consumoRacao}"
											stepFactor="0.1" min="0.0">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="4" minFractionDigits="2" />
											<p:ajax event="blur" process=":frm:cri2" update=":frm:cri2" />
										</p:spinner>
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
								</p:row>
								<p:row>
									<p:column style="font-weight: bold;">Temperatura</p:column>
									<p:column>
										<p:inputNumber value="#{machosCastradosBean.suinoInicial1.temperatura}"
											symbol=" ºC" symbolPosition="s" decimalSeparator=","
											thousandSeparator=".">
										</p:inputNumber>
									</p:column>
									<p:column>
										<p:spinner id="emi2" style="width:100%"
											value="#{machosCastradosBean.suinoInicial2.energeriaMet}"
											stepFactor="0" min="0">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="4" minFractionDigits="2" />
											<p:ajax event="blur" process=":frm:emi2" update=":frm:emi2" />
										</p:spinner>
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
									<p:column>
										<p:spinner value="0.0" style="width:100%" />
									</p:column>
								</p:row>
								<p:row>
									<p:column style="font-weight: bold;">Desempenho</p:column>
									<p:column>
										<p:selectOneMenu id="desi1" style="width:85%"
											value="#{machosCastradosBean.suinoInicial1.desempenho}"
											required="true">
											<f:selectItem itemLabel="Regular-Médio" itemValue="1" />
											<f:selectItem itemLabel="Médio-Superior" itemValue="2" />
										</p:selectOneMenu>
									</p:column>
									<p:column>
										<p:selectOneMenu style="width:85%"
											value="#{machosCastradosBean.suinoInicial2.desempenho}">
											<f:selectItem itemLabel="Regular-Médio" itemValue="1" />
											<f:selectItem itemLabel="Médio-Superior" itemValue="2" />
										</p:selectOneMenu>
									</p:column>
									<p:column>
										<p:selectOneMenu value="1" style="width:85%">
											<f:selectItem itemLabel="Regular-Médio" itemValue="1" />
											<f:selectItem itemLabel="Médio-Superior" itemValue="2" />
										</p:selectOneMenu>
									</p:column>
									<p:column>
										<p:selectOneMenu value="1" style="width:85%">
											<f:selectItem itemLabel="Regular-Médio" itemValue="1" />
											<f:selectItem itemLabel="Médio-Superior" itemValue="2" />
										</p:selectOneMenu>
									</p:column>
									<p:column>
										<p:selectOneMenu value="1" style="width:85%">
											<f:selectItem itemLabel="Regular-Médio" itemValue="1" />
											<f:selectItem itemLabel="Médio-Superior" itemValue="2" />
										</p:selectOneMenu>
									</p:column>
									<p:column>
										<p:selectOneMenu value="1" style="width:85%">
											<f:selectItem itemLabel="Regular-Médio" itemValue="1" />
											<f:selectItem itemLabel="Médio-Superior" itemValue="2" />
										</p:selectOneMenu>
									</p:column>
								</p:row>
								<p:row>
									<p:column>

									</p:column>
									<p:column>
										<p:commandButton action="#{machosCastradosBean.calcular}"
											icon="fa fa-play" title="Calcular Exigência Inicial 1"
											process=":frm" update=":frm" />
									</p:column>
									<p:column>
										<p:commandButton icon="fa fa-angle-double-right"
											action="#{machosCastradosBean.copiarInicial2}"
											title="Copiar valores Anteriores" process=":frm"
											update=":frm" />
										<p:commandButton
											action="#{machosCastradosBean.calcularInicial2}"
											icon="fa fa-play" title="Calcular Exigência Inicial 1"
											process=":frm" update=":frm" />
									</p:column>
									<p:column>
										<p:commandButton icon="fa fa-play"
											title="Calcular Exigência Inicial 2" process=":frm"
											update=":frm" />
									</p:column>
									<p:column>
										<p:commandButton icon="fa fa-angle-double-right"
											title="Copiar valores Anteriores" />
										<p:commandButton icon="fa fa-play" title="Calcular Exigência" />
									</p:column>
									<p:column>
										<p:commandButton icon="fa fa-angle-double-right"
											title="Copiar valores Anteriores" />
										<p:commandButton icon="fa fa-play" title="Calcular Exigência" />
									</p:column>
									<p:column>
										<p:commandButton icon="fa fa-angle-double-right"
											title="Copiar valores Anteriores" />
										<p:commandButton icon="fa fa-play" title="Calcular Exigência" />
									</p:column>
								</p:row>


								<p:row>
									<p:column style="font-weight: bold;">
								Exigências - (g/dia)
							</p:column>
									<p:column colspan="2">

									</p:column>
									<p:column colspan="2">

									</p:column>
									<p:column colspan="2">

									</p:column>

								</p:row>
								<p:row>
									<p:column style="font-weight: bold;">
								Fósforo disponível
								</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia.fosforoDisponivel}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="2"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia2.fosforoDisponivel}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="2"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>

								</p:row>

								<p:row>
									<p:column style="font-weight: bold;">
								Fósforo disgestível
							</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia.fosforoDigestivel}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia2.fosforoDigestivel}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>

								</p:row>
								<p:row>
									<p:column style="font-weight: bold;">
								Lisina disgestível
							</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia.lisinaDigestivel}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia2.lisinaDigestivel}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>

								</p:row>



								<p:row>
									<p:column style="font-weight: bold;">
								Exigências - %
							</p:column>
									<p:column colspan="2">

									</p:column>
									<p:column colspan="2">

									</p:column>
									<p:column colspan="2">

									</p:column>

								</p:row>

								<p:row>
									<p:column style="font-weight: bold;">
								Proteína
							</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia.proteina}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia2.proteina}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>

								</p:row>

								<p:row>
									<p:column style="font-weight: bold;">
								Cálcio
							</p:column>
									<p:column>
										<p:outputLabel value="#{machosCastradosBean.exigencia.calcio}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia2.calcio}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>

								</p:row>

								<p:row>
									<p:column style="font-weight: bold;">
								Fósforo disponível
							</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia.fosforoDisponivelExigencia}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia2.fosforoDisponivelExigencia}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>

								</p:row>

								<p:row>
									<p:column style="font-weight: bold;">
								Fósforo digestível
							</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia.fosforoDigestivelExigencia}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia2.fosforoDigestivelExigencia}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>

								</p:row>

								<p:row>
									<p:column style="font-weight: bold;">
								Potássio
							</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia.potassio}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia2.potassio}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
								</p:row>

								<p:row>
									<p:column style="font-weight: bold;">
								Sódio
							</p:column>
									<p:column>
										<p:outputLabel value="#{machosCastradosBean.exigencia.sodio}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="#{machosCastradosBean.exigencia2.sodio}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>

								</p:row>

								<p:row>
									<p:column style="font-weight: bold;">
								Cloro
							</p:column>
									<p:column>
										<p:outputLabel value="#{machosCastradosBean.exigencia.cloro}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="#{machosCastradosBean.exigencia2.cloro}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
								</p:row>

								<p:row>
									<p:column style="font-weight: bold;">
								Lisina Dig
							</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia.lisinaDigestivelExigencia}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel
											value="#{machosCastradosBean.exigencia2.lisinaDigestivelExigencia}">
											<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
												maxFractionDigits="3"></f:convertNumber>
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>
									<p:column>
										<p:outputLabel value="0.0" />
									</p:column>

								</p:row>
								<f:facet name="footer">
									<p:row>
										<p:column colspan="7">
											<p:commandButton value="Exig ASS %" icon="fa fa-file-text-o"
												type="button" onclick="PF('dlg2').show();" />
										</p:column>
									</p:row>
								</f:facet>
							</p:panelGrid>
							<p:dialog header="Modal Dialog" widgetVar="dlg2" modal="true"
								height="600" width="1000" resizable="false" responsive="true"
								footer="SIBNAS- 2016">
								<p:panelGrid style="width:100%;">
									<f:facet name="header">
										<p:row>
											<p:column colspan="7">Exigência Suínos Machos Castrados</p:column>
										</p:row>
										<p:row>
											<p:column>
											</p:column>
											<p:column colspan="2" style="text-align:center">#{msg.inicial}</p:column>
											<p:column colspan="2" style="text-align:center">#{msg.crescimento}</p:column>
											<p:column colspan="2" style="text-align:center">#{msg.terminacao}</p:column>
										</p:row>
									</f:facet>
									<p:row style="text-align:center">
										<p:column style="font-weight: bold;">Aminoácidos Digestíveis- %</p:column>
										<p:column style="font-weight: bold;">I</p:column>
										<p:column style="font-weight: bold;">II</p:column>
										<p:column style="font-weight: bold;">I</p:column>
										<p:column style="font-weight: bold;">II</p:column>
										<p:column style="font-weight: bold;">I</p:column>
										<p:column style="font-weight: bold;">II</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Lisina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.lisinaDigestivelExigencia}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia2.lisinaDigestivelExigencia}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Metionina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.metioninaDigestivel}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia2.metioninaDigestivel}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Metonina + Cistina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.metioninaCistina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia2.metioninaCistina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Treonina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.treoninaDigestivel}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia2.treoninaDigestivel}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Triptofano</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.triptofano}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia2.triptofano}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Arginina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.arginina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia2.arginina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Valina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.valina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia2.valina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Isoleucina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.isoleucina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia2.isoleucina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Leucina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.leucina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia2.leucina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Histidina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.histidina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia2.histidina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Fenilanina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.fenilalanina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia2.fenilalanina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>
									<p:row>
										<p:column style="font-weight: bold;">Fenial + Tirosina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.fenilalaninaTirosina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia2.fenilalaninaTirosina}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>

									<p:row style="text-align:center">
										<p:column style="font-weight: bold;">Aminoácidos Totais - %</p:column>
										<p:column style="font-weight: bold;" colspan="6"></p:column>
									</p:row>

									<p:row>
										<p:column style="font-weight: bold;">Lisina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.lisinaTotal}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="font-weight: bold;">Metionina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.metioninaTotal}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="font-weight: bold;">Metionina + Cistina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.metioninaCistinaTotal}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="font-weight: bold;">Treonina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.treoninaTotal}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="font-weight: bold;">Triptofano</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.triptofanoTotal}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="font-weight: bold;">Arginina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.argininaTotal}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="font-weight: bold;">Glicina + Serina</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="font-weight: bold;">Valina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.valinaTotal}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="font-weight: bold;">Isoleucina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.isoleucinaTotal}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="font-weight: bold;">Leucina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.leucinaTotal}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="font-weight: bold;">Histidina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.histidinaTotal}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="font-weight: bold;">Fenilalanina</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.fenilalaninaTotal}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="font-weight: bold;">Fenil + Tir</p:column>
										<p:column>
											<p:outputLabel
												value="#{machosCastradosBean.exigencia.fenilalaninaTirosinaTotal}">
												<f:convertNumber locale="#{usuarioBean.usuario.idioma}"
													maxFractionDigits="3"></f:convertNumber>
											</p:outputLabel>
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
										<p:column>
											<p:outputLabel value="0.0" />
										</p:column>
									</p:row>
								</p:panelGrid>
							</p:dialog>


						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>