<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Digestiveis %</title>
	<style type="text/css">
.ui-widget {
	font-size: 90%;
}
</style>
</h:head>
<h:body>

	<h:outputStylesheet library="stylesheets"
		name="exigencia/exigenciaTabela.css" />
	<h:form id="perfil">

		<p:panelGrid class="ui-noborder">
			<f:facet name="header">
				<p:row>
					<p:column colspan="10">Digestiveis %</p:column>
				</p:row>
				<p:row>
					<p:column style="font-weight: bold;">Aminoacidos</p:column>
					<p:column style="font-weight: bold;" colspan="2">Pré-inicial (1-7)</p:column>
					<p:column style="font-weight: bold;" colspan="2">Inicial (8-21)</p:column>
					<p:column style="font-weight: bold;" colspan="3">Crescimento (22-42)</p:column>
					<p:column style="font-weight: bold;" colspan="2">Final (43-56)</p:column>
				</p:row>
				<p:row>
					<p:column style="font-weight: bold;"></p:column>
					<p:column style="font-weight: bold;">I</p:column>
					<p:column style="font-weight: bold;">II</p:column>
					<p:column style="font-weight: bold;">I</p:column>
					<p:column style="font-weight: bold;">II</p:column>
					<p:column style="font-weight: bold;">I</p:column>
					<p:column style="font-weight: bold;">II</p:column>
					<p:column style="font-weight: bold;">III</p:column>
					<p:column style="font-weight: bold;">I</p:column>
					<p:column style="font-weight: bold;">II</p:column>
				</p:row>

			</f:facet>
			<p:row >
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Lisina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.lisinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.lisinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>

				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.lisinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.lisinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.lisinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>

				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.lisinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.lisinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.lisinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.lisinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>

			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Metionina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.metioninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.metioninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.metioninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.metioninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.metioninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.metioninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.metioninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.metioninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.metioninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>

			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Metionina+Cistina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.metioninaCistinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.metioninaCistinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.metioninaCistinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.metioninaCistinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.metioninaCistinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.metioninaCistinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.metioninaCistinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.metioninaCistinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.metioninaCistinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>

			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Treonina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.treoninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.treoninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.treoninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.treoninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.treoninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.treoninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.treoninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.treoninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.treoninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>

			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Triptofano" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.triptofanoAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.triptofanoAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.triptofanoAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.triptofanoAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.triptofanoAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.triptofanoAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.triptofanoAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.triptofanoAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.triptofanoAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>

			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Arginina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.argininaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.argininaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.argininaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.argininaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.argininaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.argininaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.argininaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.argininaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.argininaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>


			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Glicina+Serina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.glicinaSerinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.glicinaSerinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.glicinaSerinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.glicinaSerinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.glicinaSerinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.glicinaSerinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.glicinaSerinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.glicinaSerinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.glicinaSerinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Valina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.valinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.valinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.valinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.valinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.valinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.valinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.valinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.valinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.valinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>

			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Isoleucina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.isoleucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.isoleucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.isoleucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.isoleucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.isoleucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.isoleucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.isoleucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.isoleucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.isoleucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>

			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Leucina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.leucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.leucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.leucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.leucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.leucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.leucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.leucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.leucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.leucinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>

			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Histidina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.histidinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.histidinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.histidinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.histidinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.histidinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.histidinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.histidinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.histidinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.histidinaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>

			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Fenilalanina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.fenilalaninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.fenilalaninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.fenilalaninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.fenilalaninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.fenilalaninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.fenilalaninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.fenilalaninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.fenilalaninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.fenilalaninaAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>

			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Fenil + Tir" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.fenil_TirAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.fenil_TirAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.fenil_TirAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.fenil_TirAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.fenil_TirAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.fenil_TirAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.fenil_TirAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.fenil_TirAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.fenil_TirAAD}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>

			</p:row>
		</p:panelGrid>
	</h:form>
</h:body>


</html>