<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Totais %</title>
	<style type="text/css">
.ui-widget {
	font-size: 90%;
}
</style>
</h:head>
<h:body>
	<h:form id="perfil">

		<p:panelGrid class="ui-noborder">
			<f:facet name="header">
				<p:row>
					<p:column colspan="10">Totais %</p:column>
				</p:row>
				<p:row>
					<p:column style="font-weight: bold;">Aminoacidos</p:column>
					<p:column style="font-weight: bold;" colspan="2">Pré-inicial (1-7)</p:column>
					<p:column style="font-weight: bold;" colspan="2">Inicial (8-21)</p:column>
					<p:column style="font-weight: bold;" colspan="3">Crescimento (22-42)</p:column>
					<p:column style="font-weight: bold;" colspan="2">Final (43-56)</p:column>
				</p:row>
				<p:row>
					<p:column style="font-weight: bold;"></p:column>
					<p:column style="font-weight: bold;">I</p:column>
					<p:column style="font-weight: bold;">II</p:column>
					<p:column style="font-weight: bold;">I</p:column>
					<p:column style="font-weight: bold;">II</p:column>
					<p:column style="font-weight: bold;">I</p:column>
					<p:column style="font-weight: bold;">II</p:column>
					<p:column style="font-weight: bold;">III</p:column>
					<p:column style="font-weight: bold;">I</p:column>
					<p:column style="font-weight: bold;">II</p:column>
				</p:row>
				
			</f:facet>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Lisina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.lisinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.lisinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.lisinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.lisinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.lisinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.lisinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.lisinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.lisinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>			
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.lisinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
			
			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Metionina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.metioninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.metioninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.metioninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.metioninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.metioninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.metioninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.metioninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.metioninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.metioninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				
			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Metionina+Cistina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.metioninaCistinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.metioninaCistinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.metioninaCistinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.metioninaCistinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.metioninaCistinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.metioninaCistinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.metioninaCistinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.metioninaCistinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.metioninaCistinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				
			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Treonina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.treoninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.treoninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.treoninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.treoninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.treoninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.treoninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.treoninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.treoninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.treoninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				
			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Triptofano" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.triptofanoAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.triptofanoAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.triptofanoAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.triptofanoAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.triptofanoAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.triptofanoAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.triptofanoAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.triptofanoAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.triptofanoAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				
			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Arginina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.argininaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.argininaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.argininaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.argininaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.argininaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.argininaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.argininaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.argininaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.argininaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				
				
			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Glicina+Serina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.glicinaSerinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.glicinaSerinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.glicinaSerinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.glicinaSerinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.glicinaSerinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.glicinaSerinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.glicinaSerinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.glicinaSerinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.glicinaSerinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Valina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.valinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.valinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.valinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.valinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.valinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.valinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.valinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.valinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.valinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				
			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Isoleucina" />
				</p:column>
					<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.isoleucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.isoleucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
					<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.isoleucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.isoleucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.isoleucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.isoleucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.isoleucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.isoleucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.isoleucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				
			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Leucina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.leucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.leucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.leucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.leucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.leucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.leucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.leucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.leucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.leucinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				
			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Histidina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.histidinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.histidinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.histidinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.histidinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.histidinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.histidinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.histidinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.histidinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.histidinaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				
			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Fenilalanina" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.fenilalaninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.fenilalaninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.fenilalaninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.fenilalaninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.fenilalaninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.fenilalaninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.fenilalaninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.fenilalaninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.fenilalaninaAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				
			</p:row>
			<p:row>
				<p:column style="font-weight: bold;">
					<p:outputLabel value="Fenil + Tir" />
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves1.fenil_TirAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves2.fenil_TirAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves3.fenil_TirAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
					<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves4.fenil_TirAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves5.fenil_TirAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves6.fenil_TirAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
					<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves7.fenil_TirAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves8.fenil_TirAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				<p:column style="font-weight: bold;">
					<p:outputLabel
						value="#{exigenciaAvesBean.exigenciaAves9.fenil_TirAAT}">
						<f:convertNumber minFractionDigits="3" />
					</p:outputLabel>
				</p:column>
				
			</p:row>
		</p:panelGrid>
	</h:form>
</h:body>


</html>