<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsf/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="head">
		<script type="text/javascript">
			//<![CDATA[
			function skinChart() {
				this.cfg.shadow = false;
				this.cfg.title = '';
				this.cfg.seriesColors = [ '#EA9624', '#5BA5D8' ];
				this.cfg.grid = {
					background : '#ffffff',
					borderColor : '#ffffff',
					gridLineColor : '#F5F5F5',
					shadow : false
				};
				this.cfg.axesDefaults = {
					rendererOptions : {
						textColor : '#666F77'
					}
				};
				this.cfg.seriesDefaults = {
					shadow : false,
					lineWidth : 1,
					markerOptions : {
						shadow : false,
						size : 7,
						style : 'circle'
					}
				}
			}
			//]]>
		</script>
		<style type="text/css">
.main-content {
	padding: 0;
}

#main-wrapper-content {
	padding: 10px;
}
</style>
	</ui:define>



	<ui:define name="content">



		<div class="ui-g">
			<div class="ui-g-12 ui-md-12">
				<p:panel header="Alimento" style="height:100%">

					<h:form>

						<h:inputHidden value="{alimentoBean.alimento.id}" />

						<div class="dashboard">
							<div class="dashboard-header">
								<div class="ui-g">
									<div class="ui-g-12 ui-md-6">
										<div class="dashboard-title">
											<h2>Editar cadastro de alimento</h2>
											<!-- 											<i class="fa fa-map-marker" style="display: inline-block;"></i> -->
											<!-- 											<p style="display: inline-block;">San Francisco</p> -->
										</div>
									</div>
									<div class="ui-g-12 ui-md-6 dashboard-buttons">
										<p:commandButton actionListener="#{alimentoBean.salvar}"
											process="@form" ajax="false" styleClass="fa fa-reorder"
											title="" />
	
										<p:commandButton actionListener="#{alimentoBean.salvar}"
											process="@form" ajax="false" styleClass="fa fa-home" title="" />
										
									</div>
								</div>
							</div>
						</div>







						<div class="ui-g-12 ui-md-12 ui-fluid">
							<p:panel header="" style="background:#fff;height:100%">
								<div class="ui-g-12">
									<p:outputLabel value="Alimento" for="nome" />
									<p:inputText id="nome" value="#{alimentoBean.alimento.nome}"
										required="true"
										requiredMessage="É necessário informar o nome do alimento que deseja cadastrar."
										size="20" />


									<p:outputLabel value="Origem" />
									<p:selectOneMenu value="#{alimentoBean.alimento.origem}"
										required="true"
										requiredMessage="É necessário informar a origem do alimento"
										converter="entidadeConverter" autoWidth="false">//Conversor aqui!
					<f:selectItem itemLabel=" --Selecione uma origem -- " />
										<f:selectItems value="#{origemBean.listar}" var="o"
											itemLabel="#{o.nome}" itemValue="#{o}" />
									</p:selectOneMenu>



									<p:outputLabel value="Codigo" for="codigo" />
									<p:inputText id="codigo"
										value="#{alimentoBean.alimento.codigo}"
										disabled="#{alimentoBean.habilataCodigo()}" required="true"
										requiredMessage="É necessário informar o código do alimento"
										size="20" />

									<p:outputLabel value=" " />
								</div>
								<p:commandButton actionListener="#{alimentoBean.atualizar}"
									value="Alterar" process="@form" ajax="false" />

							</p:panel>
							<p:messages />
						</div>

					</h:form>
				</p:panel>
			</div>

		</div>

	</ui:define>
</ui:composition>