<ui:composition template="/WEB-INF/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
		<ui:define name="head">
		<style type="text/css">
.cars-datalist .text-column p:last-child {
	color: #757575;
}

.cars-datalist .car-item {
	padding: 8px 14px;
}

.cars-datalist .car-item img, .cars-datalist .car-item .car-details {
	display: inline-block;
	vertical-align: middle;
	margin-right: 14px;
}

.cars-datalist .car-item button {
	float: right;
}

.cars-datalist ul {
	margin: 0;
	padding: 0;
}

.ui-car-display td:last-child {
	font-weight: 700;
}

@media ( max-width :640px) {
	.cars-datalist .text-column {
		text-align: center;
	}
}
</style>
	</ui:define>

	<ui:define name="title">Sibnas - Alimento</ui:define>

	<ui:define name="viewname">Alimento</ui:define>

	<ui:define name="content">


		<h:form id="form" style="margin-left:6px; margin-right:6px;">

			<div class="ui-fluid">
				<div class="ui-g">
					<div class="ui-g-12">
						<div class="card card-w-title">

							<h1>GERECIAMENTO DE ASSOCIAÇÕES ALIMENTO/NUTRIENTE</h1>
							
							<p:panelGrid columns="4"
								columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3"
								layout="grid" styleClass="ui-panelgrid-blank form-group"
								style="border:0px none; background-color:transparent;">
								<p:outputLabel value="ALIMENTO SELECIONADO: "/>
								<p:inputText value="#{associarBean.alimento.nome}"  readonly="true"/>
								<p:commandButton value="Associar" icon="fa fa-check"
									process="@form" update="@form"
									action="#{associarBean.associar}" />
							    <p:button value="Cancelar" icon="fa fa-times" outcome="/admin/alimentos/PesquisarAlimentos"/>		
								

							</p:panelGrid>
							
						

						<p:dataTable id="table_alimento" stickyHeader="false"
							value="#{associarBean.listaNutriente}" var="nutriente"
							style="margin-top:20px"
							emptyMessage="Nenhum alimento encontrado.">


							<p:column headerText="Código" sortBy="#{nutriente.codigo}">
								<h:outputText value="#{nutriente.codigo}" />
							</p:column>

							<p:column headerText="Nutriente" sortBy="#{nutriente.nome}">
								<h:outputText value="#{nutriente.nome}" />
							</p:column>

							<p:column headerText="Valor nutritivo" style="width:15%">
								<p:inputText value="#{nutriente.valor_nutritivo}"
									style="width :95%">
									<p:ajax event="blur"
										listener="#{associarBean.verificarAlteracao(nutriente)}"
										disabled="#{associarBean.ativaAjax}" process="@form" />
								</p:inputText>
							</p:column>

							<p:column headerText="Unidade" style="width : 15%">
								<h:selectOneMenu id="unidade" value="#{nutriente.unidade}"
									style="width:100%">
									<f:selectItem itemLabel="%" itemValue="0" />
									<f:selectItem itemLabel="Kcal/kg" itemValue="1" />
									<f:selectItem itemLabel="mg/kg" itemValue="2" />
									<f:selectItem itemLabel="ppm" itemValue="3" />
									<f:selectItem itemLabel="UI" itemValue="4" />
									<f:selectItem itemLabel="mcg/Kg" itemValue="5" />
									<p:ajax event="blur"
										listener="#{associarBean.verificarAlteracao(nutriente)}"
										disabled="#{associarBean.ativaAjax}" process="@form" />
								</h:selectOneMenu>
							</p:column>

							<f:facet name="footer">
								<h:outputLabel value="#{associarBean.qtd_nutrientes}" /> nutrientes
						    </f:facet>
						</p:dataTable>

									

							</div>
						</div>
					</div>
				</div>
			




		</h:form>

	</ui:define>
</ui:composition>