<ui:composition template="/WEB-INF/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsf/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="title">Sibnas - Alimento</ui:define>

	<ui:define name="viewname">Alimento</ui:define>

	<ui:define name="content">

		<h:form>

			<div class="ui-fluid">
				<div class="ui-g">
					<div class="ui-g-12">
						<div class="card card-w-title">

							<h1>NOVO ALIMENTO</h1>

							<h:inputHidden value="{alimentoBean.alimento.id}" />

							<p:panelGrid columns="2"
								columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
								layout="grid" styleClass="ui-panelgrid-blank form-group"
								style="border:0px none; background-color:transparent;">
								<p:outputLabel value="Alimento" for="nome" />
								<p:inputText id="nome" value="#{alimentoBean.alimento.nome}"
									required="true"
									requiredMessage="É necessário informar o nome do alimento que deseja cadastrar."
									size="20" />


								<p:outputLabel value="Origem" />
								<p:selectOneMenu value="#{alimentoBean.alimento.origem}"
									required="true"
									requiredMessage="É necessário informar a origem do alimento"
									converter="entidadeConverter" autoWidth="false">//Conversor aqui!
					<f:selectItem itemLabel=" --Selecione uma origem -- " />
									<f:selectItems value="#{origemBean.listar}" var="o"
										itemLabel="#{o.nome}" itemValue="#{o}" />
								</p:selectOneMenu>



								<p:outputLabel value="Codigo" for="codigo" />
								<p:inputText id="codigo" value="#{alimentoBean.alimento.codigo}"
									disabled="#{alimentoBean.habilataCodigo()}" required="true"
									requiredMessage="É necessário informar o código do alimento"
									size="20" />

								<p:outputLabel value=" " />

								<p:commandButton actionListener="#{alimentoBean.salvar}"
									value="Cadastrar" process="@form" ajax="false" />

							</p:panelGrid>
							<p:messages />


						</div>
					</div>
				</div>
			</div>

		</h:form>


	</ui:define>
</ui:composition>