<ui:composition template="/WEB-INF/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="head">
		<style type="text/css">
.cars-datalist .text-column p:last-child {
	color: #757575;
}

.cars-datalist .car-item {
	padding: 8px 14px;
}

.cars-datalist .car-item img, .cars-datalist .car-item .car-details {
	display: inline-block;
	vertical-align: middle;
	margin-right: 14px;
}

.cars-datalist .car-item button {
	float: right;
}

.cars-datalist ul {
	margin: 0;
	padding: 0;
}

.ui-car-display td:last-child {
	font-weight: 700;
}

@media ( max-width :640px) {
	.cars-datalist .text-column {
		text-align: center;
	}
}
</style>
	</ui:define>

	<ui:define name="title">Sibnas - Alimento</ui:define>

	<ui:define name="viewname">Alimento</ui:define>


	<ui:define name="content">


		<h:form style="margin-left:6px; margin-right:6px;">

			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card card-w-title">

						<h1>GERENCIMENTO DE ALIMENTOS</h1>


						<p:dataTable id="table_alimento" value="#{alimentoBean.lista}"
							var="alimento" emptyMessage="Nenhum alimento encontrado."
							reflow="true" rows="50" paginator="true">

							<f:facet name="header">
                                   Alimentos disponiveis
                                 </f:facet>

							<p:column headerText="Código" sortBy="#{alimento.codigo}"
								style="text-align: center">
								<h:outputText value="#{alimento.codigo}" />
							</p:column>
							<p:column headerText="Alimento" sortBy="#{alimento.nome}"
								style="text-align: center">
								<h:outputText value="#{alimento.nome}" />
							</p:column>
							<p:column headerText="Origem" sortBy="#{alimento.origem.nome}"
								style="text-align: center">
								<h:outputText value="#{alimento.origem.nome}" />
							</p:column>

							<p:column headerText="Associar"
								style="width:50px;text-align: center">
								<p:commandButton icon="ui-icon-clipboard"
									action="#{alimentoBean.associar}"
									process="@form:table_alimento" update="@form">
									<f:setPropertyActionListener value="#{alimento}"
										target="#{alimentoBean.alimentoSelecionado}" />
								</p:commandButton>
							</p:column>
							<p:column headerText="Alterar"
								style="width:50px;text-align: center">
								<p:commandButton icon="ui-icon-refresh"
									action="#{alimentoBean.editar}" process="@form:table_alimento"
									update="@form">
									<f:setPropertyActionListener target="#{alimentoBean.alimento}"
										value="#{alimento}" />
								</p:commandButton>
							</p:column>
							<p:column headerText="Excluir"
								style="width:50px;text-align: center">
								<p:commandButton icon="ui-icon-trash" title="Excluir"
									action="#{alimentoBean.excluir}" process="@form:table_alimento"
									update="@form">
									<f:setPropertyActionListener value="#{alimento}"
										target="#{alimentoBean.alimentoSelecionado}" />

									<p:confirm header="Exclusão de Alimento"
										message="Tem certeza que deseja excluir o alimento?"
										icon="ui-icon-alert">
									</p:confirm>

								</p:commandButton>
							</p:column>
							<f:facet name="footer">
								<h:outputLabel value="#{alimentoBean.qtdAlimentos}" /> alimentos cadastrados</f:facet>
						</p:dataTable>

					</div>
				</div>
			</div>



			<p:confirmDialog global="true">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Nao" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</h:form>

	</ui:define>
</ui:composition>