<ui:composition template="/WEB-INF/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="title">Sibnas - Nutriente</ui:define>

	<ui:define name="viewname">Nutriente</ui:define>


	<ui:define name="content">


		<h:form style="margin-left:6px; margin-right:6px;">
			<div class="ui-fluid">
				<div class="ui-g">
					<div class="ui-g-12">
						<div class="card card-w-title">

							<h1>NOVO NUTRIENTE</h1>

							<h:inputHidden value="{nutrienteBean.nutriente.id}" />

							<p:panelGrid columns="2"
								columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
								layout="grid" styleClass="ui-panelgrid-blank form-group"
								style="border:0px none; background-color:transparent;">

								<p:outputLabel value="Nutriente" for="nome" />
								<p:inputText id="nome" value="#{nutrienteBean.nutriente.nome}"
									required="true"
									requiredMessage="É necessário informar o nome do nutriente." />


								<p:outputLabel value="Codigo" for="codigo" />
								<p:inputText id="codigo"
									value="#{nutrienteBean.nutriente.codigo}" required="true"
									disabled="#{nutrienteBean.habilataCodigo()}"
									requiredMessage="É necessário informar o código do nutriente." />

								<p:outputLabel value=" " />
								<p:commandButton value="Cadastrar"
										update="@form" action="#{nutrienteBean.salvar}"
										process="@form" />

								
							</p:panelGrid>
							<p:messages />
						</div>
					</div>
				</div>
			</div>
		</h:form>


	</ui:define>
</ui:composition>