<ui:composition template="/WEB-INF/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="title">Sibnas - Nutriente</ui:define>

	<ui:define name="viewname">Nutriente</ui:define>

	<ui:define name="content">


		<h:form style="margin-left:6px; margin-right:6px;">

			<div class="ui-fluid">
				<div class="ui-g">
					<div class="ui-g-12">

						<p:messages />


						<div class="card card-w-title">

							<h1>GERENCIMENTO DE NUTRIENTES</h1>

							<p:panelGrid columns="4"
								columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-2,ui-grid-col-2"
								layout="grid" styleClass="ui-panelgrid-blank form-group"
								style="border:0px none; background-color:transparent;">
								<p:inputText placeholder="Código"
									value="#{nutrienteBean.nutrienteFilter.codigo}" />
								<p:inputText placeholder="Nutriente"
									value="#{nutrienteBean.nutrienteFilter.nome}" />
								<p:commandButton value="Pesquisar" icon="ui-icon-search"
									process="@form" update="@form"
									action="#{nutrienteBean.pesquisar}" />
								<p:button value="Novo" icon="ui-icon-plus"
									outcome="/admin/nutriente/CadastrarNutriente" />

							</p:panelGrid>

							<p:dataTable id="table_alimento" value="#{nutrienteBean.listar}"
								var="nutriente" style="margin-top:20px"
								emptyMessage="Nenhum nutriente encontrado." rows="50"
								reflow="true" paginator="true" stickyHeader="true">

								<p:column headerText="Código" style="width:8%"
									sortBy="#{nutriente.codigo}">
									<h:outputText value="#{nutriente.codigo}" />
								</p:column>
								<p:column headerText="Nutriente" sortBy="#{nutriente.nome}">
									<h:outputText value="#{nutriente.nome}" />
								</p:column>


								<p:column headerText="Alterar" style="width:5%">
									<p:commandButton icon="ui-icon-refresh"
										action="#{nutrienteBean.editar}">
										<f:setPropertyActionListener
											target="#{nutrienteBean.nutriente}" value="#{nutriente}" />
									</p:commandButton>
								</p:column>
								<p:column headerText="Excluir" style="width:5%">
									<p:commandButton icon="ui-icon-trash"
										action="#{nutrienteBean.excluir}" process="@form"
										update="@form">
										<f:setPropertyActionListener value="#{nutriente}"
											target="#{nutrienteBean.nutrienteSelecionado}" />

										<p:confirm header="Exclusão de Nutriente"
											message="Tem certeza que deseja excluir o nutriente?"
											icon="ui-icon-alert">
										</p:confirm>
									</p:commandButton>
								</p:column>

								<f:facet name="footer">
									<h:outputLabel value="#{nutrienteBean.qtdNutrientes}" /> nutrientes cadastrados</f:facet>
							</p:dataTable>
						</div>
						<p:confirmDialog global="true">
							<p:commandButton value="Sim" type="button"
								styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							<p:commandButton value="Nao" type="button"
								styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						</p:confirmDialog>
					</div>
				</div>
			</div>
		</h:form>

	</ui:define>
</ui:composition>