<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>SIBNAS Cadastrar</title>
</h:head>

<h:body styleClass="containerLogin">
	<h:form id="frm">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>Cadastra-se</h1>
					<p:steps activeIndex="#{cadastrarBean.passo}">
						<p:menuitem value="Dados do Usuário" />
						<p:menuitem value="Dados Pessoa" />
						<p:menuitem value="Endereço" />
						<p:menuitem value="Visualizar Dados" />
					</p:steps>
					<!-- 					<p:messages/> -->

					<div align="center">
						<p:panelGrid id="painel1" columns="2"
							rendered="#{cadastrarBean.painel1}"
							style="border-top : 6%;border:0px !important; background:none;"
							styleClass="ui-panelgrid-blank">

							<p:outputLabel value="Nome" for="nomes" />
							<p:inputText id="nomes" value="#{cadastrarBean.usuario.nome}"
								required="true" size="50" requiredMessage="#{msg.nomeMensagem}" />

							<p:outputLabel value="Login" for="login" />
							<p:inputText id="login" value="#{cadastrarBean.usuario.login}"
								required="true" size="50" />

							<p:outputLabel value="Email" for="email" />
							<p:inputText id="email" required="true" label="email" size="40"
								requiredMessage="Por favor insira o email"
								validatorMessage="Invalid email format"
								value="#{cadastrarBean.usuario.email}">

								<f:validateRegex
									pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

							</p:inputText>

							<p:outputLabel value="Senha" for="senha" />
							<p:password value="#{cadastrarBean.usuario.senha}"
								required="true" requiredMessage="#{msg.emailMensagem}"
								feedback="true" id="senha" inline="true" />

							<p:outputLabel value="Confirmar Senha" for="senha" />
							<p:password value="#{cadastrarBean.confirmarSenha}" id="conf"
								required="true" requiredMessage="#{msg.confirmarMensagem}" />


							<p:outputLabel value="Idioma" for="idioma" />
							<p:selectOneMenu id="idioma" required="true"
								value="#{cadastrarBean.usuario.idioma}"
								style="margin-bottom:10px;">
								<f:selectItem itemLabel="Selecione seu idioma" itemValue="" />
								<f:selectItem itemLabel="Português" itemValue="pt_BR" />
								<f:selectItem itemLabel="Inglês" itemValue="en_EN" />
								<f:selectItem itemLabel="Espanhol" itemValue="es_ES" />
							</p:selectOneMenu>

							<p:outputLabel value="Pessoa " for="pessoa" />
							<p:selectOneButton id="pessoa" value="#{cadastrarBean.tipo}"
								required="true">
								<f:selectItem itemLabel="Pessoa Física" itemValue="pf" />
								<f:selectItem itemLabel="Pessoa Jurídica" itemValue="pj" />
							</p:selectOneButton>
							<p:outputLabel value=" " />
							<p:captcha label="Captcha" />
							<p:outputLabel value=" " />
							<p:commandButton value="Criar usuário"
								action="#{cadastrarBean.cadastroPasso2}" process=":frm:painel1"
								update="@form" />
						</p:panelGrid>
					</div>
					<div align="center">
						<p:panelGrid columns="2" id="painel2"
							rendered="#{cadastrarBean.painel2 and cadastrarBean.tipo == 'pf'}"
							style="border:0px !important; background:none;"
							styleClass="ui-panelgrid-blank">

							<p:outputLabel value="Nacionalidade" for="nacionalidade" />
							<p:inputText id="nacionalidade" size="25" required="true"
								value="#{cadastrarBean.usuario.nacionalidade}" />

							<p:outputLabel value="CPF" for="cpf" />
							<p:inputMask mask="999.999.999-99" id="cpf" size="25"
								required="true" value="#{cadastrarBean.usuario.cpf_cnpj}" />

							<p:outputLabel value="RG" for="rg" />
							<p:inputText id="rg" size="25" required="true"
								value="#{cadastrarBean.usuario.rg}" />

							<p:outputLabel value="Passaporte" for="passaporte" />
							<p:inputText id="passaporte" size="25" required="false	"
								value="#{cadastrarBean.usuario.passaporte}" />

							<p:outputLabel value="Data de Nascimento" for="german" />
							<p:calendar id="german" locale="pt_BR" navigator="true"
								required="true" value="#{cadastrarBean.usuario.data_nascimento}"
								pattern="dd/MM/yyyy" />

							<p:outputLabel value="Sexo" for="sexo" />
							<p:selectOneMenu id="sexo" value="#{cadastrarBean.usuario.sexo}"
								required="true">
								<f:selectItem itemLabel="Selecione seu sexo" itemValue="" />
								<f:selectItem itemLabel="Masculino" itemValue="masculino" />
								<f:selectItem itemLabel="Feminino" itemValue="feminino" />
							</p:selectOneMenu>

							<p:outputLabel value="Telefone Residencial" for="tel" />
							<p:inputText id="tel" size="25" required="false	"
								value="#{cadastrarBean.usuario.telefone}" />

							<p:outputLabel value="Celular" for="cel" />
							<p:inputText id="cel" size="25" required="false	"
								value="#{cadastrarBean.usuario.celular}" />

							<p:outputLabel value="Categoria" for="cat" />
							<p:selectOneMenu id="cat"
								value="#{cadastrarBean.usuario.categoria}" required="true">
								<f:selectItem itemLabel="Selecione sua categoria" itemValue="" />
								<f:selectItem itemLabel="Estudante" itemValue="estudante" />
								<f:selectItem itemLabel="Profissional" itemValue="profissional" />
							</p:selectOneMenu>

							<p:outputLabel value="Instituição" for="inst" />
							<h:panelGroup>
								<p:selectOneMenu id="inst"
									value="#{cadastrarBean.usuario.instituicao}" required="true">
									<f:selectItem itemLabel="Selecione sua instituição"
										itemValue="" />
									<f:selectItem itemLabel="Universidade Federal de Sergipe"
										itemValue="Universidade Federal de Sergipe" />
									<f:selectItem itemLabel="Outra" itemValue="outra" />
								</p:selectOneMenu>

								<p:commandButton value="Inserir novo" />

							</h:panelGroup>


							<p:outputLabel value="Profissão" for="prof" />
							<p:inputText id="prof" size="25" required="false"
								value="#{cadastrarBean.usuario.profissao}" />


							<p:outputLabel value="Graduação" for="grad" />
							<p:selectOneMenu id="grad"
								value="#{cadastrarBean.usuario.graduacao}" required="true">
								<f:selectItem itemLabel="Selecione sua graduação" itemValue="" />
								<f:selectItem itemLabel="Ciência da Computação"
									itemValue="Ciência da Computação" />
								<f:selectItem itemLabel="Zootecnia" itemValue="Zootecnia" />
								<f:selectItem itemLabel="Outra" itemValue="outra" />
							</p:selectOneMenu>


							<p:outputLabel value="Especialização" for="espe" />
							<p:inputText id="espe" size="25" required="false"
								value="#{cadastrarBean.usuario.especializacao}" />


							<p:outputLabel value="Mestrado" for="mestrado" />
							<p:inputText id="mestrado" size="25" required="false"
								value="#{cadastrarBean.usuario.mestrado}" />


							<p:outputLabel value="Doutorado" for="doutorado" />
							<p:inputText id="doutorado" size="25" required="false"
								value="#{cadastrarBean.usuario.doutorado}" />

							<p:outputLabel value="Pós doutorado" for="posdoc" />
							<p:inputText id="posdoc" size="25" required="false"
								value="#{cadastrarBean.usuario.posDoutorado}" />

							<h:outputText value=" " />

							<p:commandButton value="Criar Pessoa Física"
								process=":frm:painel2" update="@form"
								action="#{cadastrarBean.cadastroPasso3}" />
						</p:panelGrid>

						<p:panelGrid columns="2" id="painel3"
							rendered="#{cadastrarBean.painel3 and cadastrarBean.tipo == 'pf'}"
							style="border:0px !important; background:none;"
							styleClass="ui-panelgrid-blank">

							<p:outputLabel value="Descrição" for="desc" />
							<p:inputText id="desc"
								value="#{cadastrarBean.endereco.descricao}" />

							<p:outputLabel value="País" for="pais" />
							<p:selectOneMenu id="pais" value="#{cadastrarBean.endereco.pais}"
								required="true">
							


							</p:selectOneMenu>

							<p:outputLabel value="Estado" for="estado" />
							<p:selectOneMenu id="estado"
								value="#{cadastrarBean.endereco.estado}" required="true">
								<f:selectItem itemLabel="Selecione um  estado" itemValue="" />
								<f:selectItem itemLabel="Sergipe" itemValue="Sergipe" />
							</p:selectOneMenu>

							<p:outputLabel value="Cidade" for="cidade" />
							<p:selectOneMenu id="cidade"
								value="#{cadastrarBean.endereco.cidade}" required="true">
								<f:selectItem itemLabel="Selecione uma cidade" itemValue="" />
								<f:selectItem itemLabel="Aracaju" itemValue="Sergipe" />
							</p:selectOneMenu>

							<p:outputLabel value="CEP" for="cep" />
							<p:inputText id="cep" value="#{cadastrarBean.endereco.cep}" />

							<p:outputLabel value="Rua" for="rua" />
							<p:inputText id="rua" value="#{cadastrarBean.endereco.rua}" />

							<p:outputLabel value="Número" for="num" />
							<p:inputText id="num" value="#{cadastrarBean.endereco.numero}" />

							<p:outputLabel value="Complemento" for="comple" />
							<p:inputText id="comple"
								value="#{cadastrarBean.endereco.complemento}" />

							<h:inputText value=" " />
							<p:commandButton value="Criar Endereço" process=":frm:painel3"
								update="@form" action="#{cadastrarBean.cadastroPasso4}" />
						</p:panelGrid>


						<p:panelGrid columns="2" id="painel4"
							rendered="#{cadastrarBean.painel4 and cadastrarBean.tipo == 'pf'}"
							style="border:0px !important; background:none;"
							styleClass="ui-panelgrid-blank">

							<p:outputLabel value="Nome :" />
							<p:outputLabel value="#{cadastrarBean.usuario.nome}" />
							<p:commandButton value="Finalizar Cadastro"
								process=":frm:painel4" update="@form"
								action="#{cadastrarBean.finalizar}" />
						</p:panelGrid>

					</div>


				</div>

			</div>
		</div>
		<style type="text/css">
html {
	height: 100%;
}

.ui-button-text, .ui-button-text-only .ui-button-text {
	padding: 8px !important;
	transition: none !important;
}

.ui-panel .ui-panel-title {
	font-size: 17px;
}

.ui-steps .ui-steps-item {
	width: 24%;
}

.ui-state-highlight {
	text-shadow: none !important;
}

.ui-steps.custom {
	margin-bottom: 30px;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
	height: 10px;
	padding: 0 1em;
}

.ui-steps.custom .ui-steps-item .ui-steps-number {
	background-color: #0081c2;
	color: #FFFFFF;
	display: inline-block;
	width: 30px;
	border-radius: 10px;
	margin-top: -10px;
	margin-bottom: 10px;
}

.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
	color: #555;
}
</style>
		<h:outputStylesheet name="css/layout-blue.css" library="icarus-layout" />
	</h:form>
</h:body>

</html>