<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>SIBNAS Cadastrar</title>
</h:head>

<h:body styleClass="containerLogin">
	<h:form id="frm">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>Sistema Brasileiro de Nutrição Animal Simulado - SIBNAS</h1>

					<!-- 					<p:messages/> -->

					<div align="center">
						<p:panelGrid id="painel1" columns="2"
							rendered="#{cadastrarBean.painel1}"
							style="border-top : 6%;border:0px !important; background:none;"
							styleClass="ui-panelgrid-blank">

							<p:outputLabel value="Nome" for="nomes" />
							<p:inputText id="nomes" value="#{cadastrarBean.usuario.nome}"
								required="true" size="50" requiredMessage="#{msg.nomeMensagem}" />

							<p:outputLabel value="Login" for="login" />
							<p:inputText id="login" value="#{cadastrarBean.usuario.login}"
								required="true" size="50" />

							<p:outputLabel value="Email" for="email" />
							<p:inputText id="email" required="true" label="email" size="40"
								requiredMessage="Por favor insira o email"
								validatorMessage="Invalid email format"
								value="#{cadastrarBean.usuario.email}">

								<f:validateRegex
									pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

							</p:inputText>

							<p:outputLabel value="Senha" for="senha" />
							<p:password value="#{cadastrarBean.usuario.senha}"
								required="true" requiredMessage="#{msg.emailMensagem}"
								feedback="true" id="senha" inline="true" />

							<p:outputLabel value="Confirmar Senha" for="senha" />
							<p:password value="#{cadastrarBean.confirmarSenha}" id="conf"
								required="true" requiredMessage="#{msg.confirmarMensagem}" />


							<p:outputLabel value="Idioma" for="idioma" />
							<p:selectOneMenu id="idioma" required="true"
								value="#{cadastrarBean.usuario.idioma}"
								style="margin-bottom:10px;">
								<f:selectItem itemLabel="Selecione seu idioma" itemValue="" />
								<f:selectItem itemLabel="Português" itemValue="pt_BR" />
								<f:selectItem itemLabel="Inglês" itemValue="en_EN" />
								<f:selectItem itemLabel="Espanhol" itemValue="es_ES" />
							</p:selectOneMenu>

							<p:outputLabel value="Pessoa " for="pessoa" />
							<p:selectOneButton id="pessoa" value="#{cadastrarBean.tipo}"
								required="true">
								<f:selectItem itemLabel="Pessoa Física" itemValue="pf" />
								<f:selectItem itemLabel="Pessoa Jurídica" itemValue="pj" />
							</p:selectOneButton>
							<p:outputLabel value=" " />
							<p:captcha label="Captcha" language="pt_BR" />

							<p:outputLabel value="Nacionalidade" for="nacionalidade" />
							<p:inputText id="nacionalidade" size="25" required="true"
								value="#{cadastrarBean.usuario.nacionalidade}" />

							<p:outputLabel value="CPF" for="cpf" />
							<p:inputMask mask="999.999.999-99" id="cpf" size="25"
								required="true" value="#{cadastrarBean.usuario.cpf_cnpj}" />

							<p:outputLabel value="RG" for="rg" />
							<p:inputText id="rg" size="25" required="true"
								value="#{cadastrarBean.usuario.rg}" />

							<p:outputLabel value="Passaporte" for="passaporte" />
							<p:inputText id="passaporte" size="25" required="false	"
								value="#{cadastrarBean.usuario.passaporte}" />

							<p:outputLabel value="Data de Nascimento" for="data" />
							<p:calendar id="data" locale="pt" navigator="true"
								required="true" value="#{cadastrarBean.usuario.data_nascimento}"
								mask="true" pattern="dd/MM/yyyy" />

							<p:outputLabel value="Sexo" for="sexo" />
							<p:selectOneMenu id="sexo" value="#{cadastrarBean.usuario.sexo}"
								required="true">
								<f:selectItem itemLabel="Selecione seu sexo" itemValue="" />
								<f:selectItem itemLabel="Masculino" itemValue="masculino" />
								<f:selectItem itemLabel="Feminino" itemValue="feminino" />
							</p:selectOneMenu>

							<p:outputLabel value="Telefone Residencial" for="tel" />
							<p:inputText id="tel" size="25" required="false	"
								value="#{cadastrarBean.usuario.telefone}" />

							<p:outputLabel value="Celular" for="cel" />
							<p:inputText id="cel" size="25" required="false	"
								value="#{cadastrarBean.usuario.celular}" />

							<p:outputLabel value="Categoria" for="cat" />
							<p:selectOneMenu id="cat"
								value="#{cadastrarBean.usuario.categoria}" required="true">
								<f:selectItem itemLabel="Selecione sua categoria" itemValue="" />
								<f:selectItem itemLabel="Estudante" itemValue="estudante" />
								<f:selectItem itemLabel="Profissional" itemValue="profissional" />
							</p:selectOneMenu>

							<p:outputLabel value="Instituição" for="inst" />
							<h:panelGroup>
								<p:selectOneMenu id="inst"
									value="#{cadastrarBean.usuario.instituicao}">
									<f:selectItem itemLabel="Selecione sua instituição"
										itemValue="" />
									<f:selectItem
										itemLabel="Fundação Universidade do Estado de Santa Catarina (UDESC)"
										itemValue="	Fundação Universidade do Estado de Santa Catarina (UDESC" />
									<f:selectItem
										itemLabel="Fundação Universidade Federal da Grande Dourados (UFGD)"
										itemValue="	Fundação Universidade Federal da Grande Dourados (UFGD" />
									<f:selectItem
										itemLabel="Fundação Universidade Federal de Ciências da Saúde de Porto Alegre (UFCSPA)"
										itemValue="	Fundação Universidade Federal de Ciências da Saúde de Porto Alegre (UFCSPA" />
									<f:selectItem
										itemLabel="Fundação Universidade Federal de Rondônia (UNIR)"
										itemValue="	Fundação Universidade Federal de Rondônia (UNIR" />
									<f:selectItem
										itemLabel="Fundação Universidade Federal do Abc (UFABC)"
										itemValue="	Fundação Universidade Federal do Abc (UFABC" />
									<f:selectItem
										itemLabel="Fundação Universidade Federal do Pampa (UNIPAMPA)"
										itemValue="	Fundação Universidade Federal do Pampa (UNIPAMPA" />
									<f:selectItem
										itemLabel="Fundação Universidade Federal do Tocantins (UFT)"
										itemValue="	Fundação Universidade Federal do Tocantins (UFT" />
									<f:selectItem
										itemLabel="Fundação Universidade Federal do Vale do São Francisco (UNIVASF)"
										itemValue="	Fundação Universidade Federal do Vale do São Francisco (UNIVASF" />
									<f:selectItem
										itemLabel="Pontifícia Universidade Católica de Campinas (PUC-CAMPINAS)"
										itemValue="	Pontifícia Universidade Católica de Campinas (PUC-CAMPINAS" />
									<f:selectItem
										itemLabel="Pontifícia Universidade Católica de Goiás (PUC GOIÁS)"
										itemValue="	Pontifícia Universidade Católica de Goiás (PUC GOIÁS" />
									<f:selectItem
										itemLabel="Pontifícia Universidade Católica de Minas Gerais (PUC MINAS)"
										itemValue="	Pontifícia Universidade Católica de Minas Gerais (PUC MINAS" />
									<f:selectItem
										itemLabel="Pontifícia Universidade Católica de São Paulo (PUCSP)"
										itemValue="	Pontifícia Universidade Católica de São Paulo (PUCSP" />
									<f:selectItem
										itemLabel="Pontifícia Universidade Católica do Paraná (PUCPR)"
										itemValue="	Pontifícia Universidade Católica do Paraná (PUCPR" />
									<f:selectItem
										itemLabel="Pontifícia Universidade Católica do Rio de Janeiro (PUC-RIO)"
										itemValue="	Pontifícia Universidade Católica do Rio de Janeiro (PUC-RIO" />
									<f:selectItem
										itemLabel="Pontifícia Universidade Católica do Rio Grande do Sul (PUCRS)"
										itemValue="	Pontifícia Universidade Católica do Rio Grande do Sul (PUCRS" />
									<f:selectItem
										itemLabel="Universidade Alto Vale do Rio do Peixe (UNIARP)"
										itemValue="	Universidade Alto Vale do Rio do Peixe (UNIARP" />
									<f:selectItem itemLabel="Universidade Anhanguera (UNIDERP)"
										itemValue="	Universidade Anhanguera (UNIDERP" />
									<f:selectItem itemLabel="Universidade Anhembi Morumbi (UAM)"
										itemValue="	Universidade Anhembi Morumbi (UAM" />
									<f:selectItem
										itemLabel="Universidade Bandeirante Anhanguera (UNIBAN)"
										itemValue="	Universidade Bandeirante Anhanguera (UNIBAN" />
									<f:selectItem itemLabel="Universidade Braz Cubas (UBC)"
										itemValue="	Universidade Braz Cubas (UBC" />
									<f:selectItem
										itemLabel="Universidade Camilo Castelo Branco (UNICASTELO)"
										itemValue="	Universidade Camilo Castelo Branco (UNICASTELO" />
									<f:selectItem itemLabel="Universidade Cândido Mendes (UCAM)"
										itemValue="	Universidade Cândido Mendes (UCAM" />
									<f:selectItem itemLabel="Universidade Castelo Branco (UCB)"
										itemValue="	Universidade Castelo Branco (UCB" />
									<f:selectItem
										itemLabel="Universidade Católica de Brasília (UCB)"
										itemValue="	Universidade Católica de Brasília (UCB" />
									<f:selectItem
										itemLabel="Universidade Católica de Pelotas (UCPEL)"
										itemValue="	Universidade Católica de Pelotas (UCPEL" />
									<f:selectItem
										itemLabel="Universidade Católica de Pernambuco (UNICAP)"
										itemValue="	Universidade Católica de Pernambuco (UNICAP" />
									<f:selectItem
										itemLabel="Universidade Católica de Petrópolis (UCP)"
										itemValue="	Universidade Católica de Petrópolis (UCP" />
									<f:selectItem
										itemLabel="Universidade Católica de Santos (UNISANTOS)"
										itemValue="	Universidade Católica de Santos (UNISANTOS" />
									<f:selectItem
										itemLabel="Universidade Católica do Salvador (UCSAL)"
										itemValue="	Universidade Católica do Salvador (UCSAL" />
									<f:selectItem
										itemLabel="Universidade Católica Dom Bosco (UCDB)"
										itemValue="	Universidade Católica Dom Bosco (UCDB" />
									<f:selectItem
										itemLabel="Universidade Cidade de São Paulo (UNICID)"
										itemValue="	Universidade Cidade de São Paulo (UNICID" />
									<f:selectItem
										itemLabel="Universidade Comunitária da Região de Chapecó (UNOCHAPECÓ)"
										itemValue="	Universidade Comunitária da Região de Chapecó (UNOCHAPECÓ" />
									<f:selectItem
										itemLabel="Universidade Cruzeiro do Sul (UNICSUL)"
										itemValue="	Universidade Cruzeiro do Sul (UNICSUL" />
									<f:selectItem itemLabel="Universidade da Amazônia (UNAMA)"
										itemValue="	Universidade da Amazônia (UNAMA" />
									<f:selectItem
										itemLabel="Universidade da Integração Internacional da Lusofonia Afro-Brasileira (UNILAB)"
										itemValue="	Universidade da Integração Internacional da Lusofonia Afro-Brasileira (UNILAB" />
									<f:selectItem
										itemLabel="Universidade da Região da Campanha (URCAMP)"
										itemValue="	Universidade da Região da Campanha (URCAMP" />
									<f:selectItem
										itemLabel="Universidade da Região de Joinville (UNIVILLE)"
										itemValue="	Universidade da Região de Joinville (UNIVILLE" />
									<f:selectItem itemLabel="Universidade de Brasília (UNB)"
										itemValue="	Universidade de Brasília (UNB" />
									<f:selectItem itemLabel="Universidade de Caxias do Sul (UCS)"
										itemValue="	Universidade de Caxias do Sul (UCS" />
									<f:selectItem itemLabel="Universidade de Cruz Alta (UNICRUZ)"
										itemValue="	Universidade de Cruz Alta (UNICRUZ" />
									<f:selectItem
										itemLabel="Universidade de Cuiabá (UNIC / PITÁGORAS)"
										itemValue="	Universidade de Cuiabá (UNIC / PITÁGORAS" />
									<f:selectItem itemLabel="Universidade de Fortaleza (UNIFOR)"
										itemValue="	Universidade de Fortaleza (UNIFOR" />
									<f:selectItem itemLabel="Universidade de Franca (UNIFRAN)"
										itemValue="	Universidade de Franca (UNIFRAN" />
									<f:selectItem itemLabel="Universidade de Itaúna (UI)"
										itemValue="	Universidade de Itaúna (UI" />
									<f:selectItem itemLabel="Universidade de Marília (UNIMAR)"
										itemValue="	Universidade de Marília (UNIMAR" />
									<f:selectItem itemLabel="Universidade de Mogi Das Cruzes (UMC)"
										itemValue="	Universidade de Mogi Das Cruzes (UMC" />
									<f:selectItem itemLabel="Universidade de Passo Fundo (UPF)"
										itemValue="	Universidade de Passo Fundo (UPF" />
									<f:selectItem itemLabel="Universidade de Pernambuco (UPE)"
										itemValue="	Universidade de Pernambuco (UPE" />
									<f:selectItem
										itemLabel="Universidade de Ribeirão Preto (UNAERP)"
										itemValue="	Universidade de Ribeirão Preto (UNAERP" />
									<f:selectItem itemLabel="Universidade de Rio Verde (FESURV)"
										itemValue="	Universidade de Rio Verde (FESURV" />
									<f:selectItem
										itemLabel="Universidade de Santa Cruz do Sul (UNISC)"
										itemValue="	Universidade de Santa Cruz do Sul (UNISC" />
									<f:selectItem itemLabel="Universidade de Santo Amaro (UNISA)"
										itemValue="	Universidade de Santo Amaro (UNISA" />
									<f:selectItem itemLabel="Universidade de São Paulo (USP)"
										itemValue="	Universidade de São Paulo (USP" />
									<f:selectItem itemLabel="Universidade de Sorocaba (UNISO)"
										itemValue="	Universidade de Sorocaba (UNISO" />
									<f:selectItem itemLabel="Universidade de Taubaté (UNITAU)"
										itemValue="	Universidade de Taubaté (UNITAU" />
									<f:selectItem itemLabel="Universidade de Uberaba (UNIUBE)"
										itemValue="	Universidade de Uberaba (UNIUBE" />
									<f:selectItem itemLabel="Universidade do Ceuma (UNICEUMA)"
										itemValue="	Universidade do Ceuma (UNICEUMA" />
									<f:selectItem itemLabel="Universidade do Contestado (UNC)"
										itemValue="	Universidade do Contestado (UNC" />
									<f:selectItem
										itemLabel="Universidade do Estado da Bahia (UNEB)"
										itemValue="	Universidade do Estado da Bahia (UNEB" />
									<f:selectItem
										itemLabel="Universidade do Estado de Mato Grosso (UNEMAT)"
										itemValue="	Universidade do Estado de Mato Grosso (UNEMAT" />
									<f:selectItem
										itemLabel="Universidade do Estado de Minas Gerais (UEMG)"
										itemValue="	Universidade do Estado de Minas Gerais (UEMG" />
									<f:selectItem
										itemLabel="Universidade do Estado do Amapá (UEAP)"
										itemValue="	Universidade do Estado do Amapá (UEAP" />
									<f:selectItem
										itemLabel="Universidade do Estado do Amazonas (UEA)"
										itemValue="	Universidade do Estado do Amazonas (UEA" />
									<f:selectItem itemLabel="Universidade do Estado do Pará (UEPA)"
										itemValue="	Universidade do Estado do Pará (UEPA" />
									<f:selectItem
										itemLabel="Universidade do Estado do Rio de Janeiro (UERJ)"
										itemValue="	Universidade do Estado do Rio de Janeiro (UERJ" />
									<f:selectItem
										itemLabel="Universidade do Estado do Rio Grande do Norte (UERN)"
										itemValue="	Universidade do Estado do Rio Grande do Norte (UERN" />
									<f:selectItem
										itemLabel="Universidade do Extremo Sul Catarinense (UNESC)"
										itemValue="	Universidade do Extremo Sul Catarinense (UNESC" />
									<f:selectItem itemLabel="Universidade do Grande Abc (UNIABC)"
										itemValue="	Universidade do Grande Abc (UNIABC" />
									<f:selectItem
										itemLabel="Universidade do Grande Rio Professor José de Souza Herdy (UNIGRANRIO)"
										itemValue="	Universidade do Grande Rio Professor José de Souza Herdy (UNIGRANRIO" />
									<f:selectItem
										itemLabel="Universidade do Oeste de Santa Catarina (UNOESC)"
										itemValue="	Universidade do Oeste de Santa Catarina (UNOESC" />
									<f:selectItem
										itemLabel="Universidade do Oeste Paulista (UNOESTE)"
										itemValue="	Universidade do Oeste Paulista (UNOESTE" />
									<f:selectItem
										itemLabel="Universidade do Planalto Catarinense (UNIPLAC)"
										itemValue="	Universidade do Planalto Catarinense (UNIPLAC" />
									<f:selectItem itemLabel="Universidade do Sagrado Coração (USC)"
										itemValue="	Universidade do Sagrado Coração (USC" />
									<f:selectItem
										itemLabel="Universidade do Sul de Santa Catarina (UNISUL)"
										itemValue="	Universidade do Sul de Santa Catarina (UNISUL" />
									<f:selectItem itemLabel="Universidade do Tocantins (UNITINS)"
										itemValue="	Universidade do Tocantins (UNITINS" />
									<f:selectItem
										itemLabel="Universidade do Vale do Itajaí (UNIVALI)"
										itemValue="	Universidade do Vale do Itajaí (UNIVALI" />
									<f:selectItem
										itemLabel="Universidade do Vale do Paraíba (UNIVAP)"
										itemValue="	Universidade do Vale do Paraíba (UNIVAP" />
									<f:selectItem
										itemLabel="Universidade do Vale do Rio Dos Sinos (UNISINOS)"
										itemValue="	Universidade do Vale do Rio Dos Sinos (UNISINOS" />
									<f:selectItem
										itemLabel="Universidade do Vale do Sapucaí (UNIVÁS)"
										itemValue="	Universidade do Vale do Sapucaí (UNIVÁS" />
									<f:selectItem itemLabel="Universidade Estácio de Sá (UNESA)"
										itemValue="	Universidade Estácio de Sá (UNESA" />
									<f:selectItem
										itemLabel="Universidade Estadual da Paraíba (UEPB)"
										itemValue="	Universidade Estadual da Paraíba (UEPB" />
									<f:selectItem
										itemLabel="Universidade Estadual de Alagoas (UNEAL)"
										itemValue="	Universidade Estadual de Alagoas (UNEAL" />
									<f:selectItem
										itemLabel="Universidade Estadual de Campinas (UNICAMP)"
										itemValue="	Universidade Estadual de Campinas (UNICAMP" />
									<f:selectItem
										itemLabel="Universidade Estadual de Ciências da Saúde de Alagoas (UNCISAL)"
										itemValue="	Universidade Estadual de Ciências da Saúde de Alagoas (UNCISAL" />
									<f:selectItem
										itemLabel="Universidade Estadual de Feira de Santana (UEFS)"
										itemValue="	Universidade Estadual de Feira de Santana (UEFS" />
									<f:selectItem itemLabel="Universidade Estadual de Goiás (UEG)"
										itemValue="	Universidade Estadual de Goiás (UEG" />
									<f:selectItem
										itemLabel="Universidade Estadual de Londrina (UEL)"
										itemValue="	Universidade Estadual de Londrina (UEL" />
									<f:selectItem
										itemLabel="Universidade Estadual de Maringá (UEM)"
										itemValue="	Universidade Estadual de Maringá (UEM" />
									<f:selectItem
										itemLabel="Universidade Estadual de Mato Grosso do Sul (UEMS)"
										itemValue="	Universidade Estadual de Mato Grosso do Sul (UEMS" />
									<f:selectItem
										itemLabel="Universidade Estadual de Montes Claros (UNIMONTES)"
										itemValue="	Universidade Estadual de Montes Claros (UNIMONTES" />
									<f:selectItem
										itemLabel="Universidade Estadual de Ponta Grossa (UEPG)"
										itemValue="	Universidade Estadual de Ponta Grossa (UEPG" />
									<f:selectItem
										itemLabel="Universidade Estadual de Roraima (UERR)"
										itemValue="	Universidade Estadual de Roraima (UERR" />
									<f:selectItem
										itemLabel="Universidade Estadual de Santa Cruz (UESC)"
										itemValue="	Universidade Estadual de Santa Cruz (UESC" />
									<f:selectItem itemLabel="Universidade Estadual do Ceará (UECE)"
										itemValue="	Universidade Estadual do Ceará (UECE" />
									<f:selectItem
										itemLabel="Universidade Estadual do Centro Oeste (UNICENTRO)"
										itemValue="	Universidade Estadual do Centro Oeste (UNICENTRO" />
									<f:selectItem
										itemLabel="Universidade Estadual do Maranhão (UEMA)"
										itemValue="	Universidade Estadual do Maranhão (UEMA" />
									<f:selectItem
										itemLabel="Universidade Estadual do Norte do Paraná (UENP)"
										itemValue="	Universidade Estadual do Norte do Paraná (UENP" />
									<f:selectItem
										itemLabel="Universidade Estadual do Norte Fluminense Darcy Ribeiro (UENF)"
										itemValue="	Universidade Estadual do Norte Fluminense Darcy Ribeiro (UENF" />
									<f:selectItem
										itemLabel="Universidade Estadual do Oeste do Paraná (UNIOESTE)"
										itemValue="	Universidade Estadual do Oeste do Paraná (UNIOESTE" />
									<f:selectItem
										itemLabel="Universidade Estadual do Piauí (UESPI)"
										itemValue="	Universidade Estadual do Piauí (UESPI" />
									<f:selectItem
										itemLabel="Universidade Estadual do Rio Grande do Sul (UERGS)"
										itemValue="	Universidade Estadual do Rio Grande do Sul (UERGS" />
									<f:selectItem
										itemLabel="Universidade Estadual do Sudoeste da Bahia (UESB)"
										itemValue="	Universidade Estadual do Sudoeste da Bahia (UESB" />
									<f:selectItem
										itemLabel="Universidade Estadual do Vale do Acaraú (UVA)"
										itemValue="	Universidade Estadual do Vale do Acaraú (UVA" />
									<f:selectItem
										itemLabel="Universidade Estadual Paulista Júlio de Mesquita Filho (UNESP)"
										itemValue="	Universidade Estadual Paulista Júlio de Mesquita Filho (UNESP" />
									<f:selectItem itemLabel="Universidade Federal da Bahia (UFBA)"
										itemValue="	Universidade Federal da Bahia (UFBA" />
									<f:selectItem
										itemLabel="Universidade Federal da Fronteira Sul (UFFS)"
										itemValue="	Universidade Federal da Fronteira Sul (UFFS" />
									<f:selectItem
										itemLabel="Universidade Federal da Integração Latino-Americana (UNILA)"
										itemValue="	Universidade Federal da Integração Latino-Americana (UNILA" />
									<f:selectItem
										itemLabel="Universidade Federal da Paraíba (UFPB)"
										itemValue="	Universidade Federal da Paraíba (UFPB" />
									<f:selectItem
										itemLabel="Universidade Federal de Alagoas (UFAL)"
										itemValue="	Universidade Federal de Alagoas (UFAL" />
									<f:selectItem
										itemLabel="Universidade Federal de Alfenas (UNIFAL-MG)"
										itemValue="	Universidade Federal de Alfenas (UNIFAL-MG" />
									<f:selectItem
										itemLabel="Universidade Federal de Campina Grande (UFCG)"
										itemValue="	Universidade Federal de Campina Grande (UFCG" />
									<f:selectItem itemLabel="Universidade Federal de Goiás (UFG)"
										itemValue="	Universidade Federal de Goiás (UFG" />
									<f:selectItem
										itemLabel="Universidade Federal de Itajubá (UNIFEI)"
										itemValue="	Universidade Federal de Itajubá (UNIFEI" />
									<f:selectItem
										itemLabel="Universidade Federal de Juiz de Fora (UFJF)"
										itemValue="	Universidade Federal de Juiz de Fora (UFJF" />
									<f:selectItem itemLabel="Universidade Federal de Lavras (UFLA)"
										itemValue="	Universidade Federal de Lavras (UFLA" />
									<f:selectItem
										itemLabel="Universidade Federal de Mato Grosso (UFMT)"
										itemValue="	Universidade Federal de Mato Grosso (UFMT" />
									<f:selectItem
										itemLabel="Universidade Federal de Mato Grosso do Sul (UFMS)"
										itemValue="	Universidade Federal de Mato Grosso do Sul (UFMS" />
									<f:selectItem
										itemLabel="Universidade Federal de Minas Gerais (UFMG)"
										itemValue="	Universidade Federal de Minas Gerais (UFMG" />
									<f:selectItem
										itemLabel="Universidade Federal de Ouro Preto (UFOP)"
										itemValue="	Universidade Federal de Ouro Preto (UFOP" />
									<f:selectItem
										itemLabel="Universidade Federal de Pelotas (UFPEL)"
										itemValue="	Universidade Federal de Pelotas (UFPEL" />
									<f:selectItem
										itemLabel="Universidade Federal de Pernambuco (UFPE)"
										itemValue="	Universidade Federal de Pernambuco (UFPE" />
									<f:selectItem
										itemLabel="Universidade Federal de Roraima (UFRR)"
										itemValue="	Universidade Federal de Roraima (UFRR" />
									<f:selectItem
										itemLabel="Universidade Federal de Santa Catarina (UFSC)"
										itemValue="	Universidade Federal de Santa Catarina (UFSC" />
									<f:selectItem
										itemLabel="Universidade Federal de Santa Maria (UFSM)"
										itemValue="	Universidade Federal de Santa Maria (UFSM" />
									<f:selectItem
										itemLabel="Universidade Federal de São Carlos (UFSCAR)"
										itemValue="	Universidade Federal de São Carlos (UFSCAR" />
									<f:selectItem
										itemLabel="Universidade Federal de São João Del Rei (UFSJ)"
										itemValue="	Universidade Federal de São João Del Rei (UFSJ" />
									<f:selectItem
										itemLabel="Universidade Federal de São Paulo (UNIFESP)"
										itemValue="	Universidade Federal de São Paulo (UNIFESP" />
									<f:selectItem itemLabel="Universidade Federal de Sergipe (UFS)"
										itemValue="	Universidade Federal de Sergipe (UFS" />
									<f:selectItem
										itemLabel="Universidade Federal de Uberlândia (UFU)"
										itemValue="	Universidade Federal de Uberlândia (UFU" />
									<f:selectItem itemLabel="Universidade Federal de Viçosa (UFV)"
										itemValue="	Universidade Federal de Viçosa (UFV" />
									<f:selectItem itemLabel="Universidade Federal do Acre (UFAC)"
										itemValue="	Universidade Federal do Acre (UFAC" />
									<f:selectItem
										itemLabel="Universidade Federal do Amapá (UNIFAP)"
										itemValue="	Universidade Federal do Amapá (UNIFAP" />
									<f:selectItem
										itemLabel="Universidade Federal do Amazonas (UFAM)"
										itemValue="	Universidade Federal do Amazonas (UFAM" />
									<f:selectItem itemLabel="Universidade Federal do Ceará (UFC)"
										itemValue="	Universidade Federal do Ceará (UFC" />
									<f:selectItem
										itemLabel="Universidade Federal do Espírito Santo (UFES)"
										itemValue="	Universidade Federal do Espírito Santo (UFES" />
									<f:selectItem
										itemLabel="Universidade Federal do Estado do Rio de Janeiro (UNIRIO)"
										itemValue="	Universidade Federal do Estado do Rio de Janeiro (UNIRIO" />
									<f:selectItem
										itemLabel="Universidade Federal do Maranhão (UFMA)"
										itemValue="	Universidade Federal do Maranhão (UFMA" />
									<f:selectItem
										itemLabel="Universidade Federal do Oeste do Pará (UFOPA)"
										itemValue="	Universidade Federal do Oeste do Pará (UFOPA" />
									<f:selectItem itemLabel="Universidade Federal do Pará (UFPA)"
										itemValue="	Universidade Federal do Pará (UFPA" />
									<f:selectItem itemLabel="Universidade Federal do Paraná (UFPR)"
										itemValue="	Universidade Federal do Paraná (UFPR" />
									<f:selectItem itemLabel="Universidade Federal do Piauí (UFPI)"
										itemValue="	Universidade Federal do Piauí (UFPI" />
									<f:selectItem
										itemLabel="Universidade Federal do Recôncavo da Bahia (UFRB)"
										itemValue="	Universidade Federal do Recôncavo da Bahia (UFRB" />
									<f:selectItem
										itemLabel="Universidade Federal do Rio de Janeiro (UFRJ)"
										itemValue="	Universidade Federal do Rio de Janeiro (UFRJ" />
									<f:selectItem
										itemLabel="Universidade Federal do Rio Grande (FURG)"
										itemValue="	Universidade Federal do Rio Grande (FURG" />
									<f:selectItem
										itemLabel="Universidade Federal do Rio Grande do Norte (UFRN)"
										itemValue="	Universidade Federal do Rio Grande do Norte (UFRN" />
									<f:selectItem
										itemLabel="Universidade Federal do Rio Grande do Sul (UFRGS)"
										itemValue="	Universidade Federal do Rio Grande do Sul (UFRGS" />
									<f:selectItem
										itemLabel="Universidade Federal do Triângulo Mineiro (UFTM)"
										itemValue="	Universidade Federal do Triângulo Mineiro (UFTM" />
									<f:selectItem
										itemLabel="Universidade Federal Dos Vales do Jequitinhonha e Mucuri (UFVJM)"
										itemValue="	Universidade Federal Dos Vales do Jequitinhonha e Mucuri (UFVJM" />
									<f:selectItem itemLabel="Universidade Federal Fluminense (UFF)"
										itemValue="	Universidade Federal Fluminense (UFF" />
									<f:selectItem
										itemLabel="Universidade Federal Rural da Amazônia (UFRA)"
										itemValue="	Universidade Federal Rural da Amazônia (UFRA" />
									<f:selectItem
										itemLabel="Universidade Federal Rural de Pernambuco (UFRPE)"
										itemValue="	Universidade Federal Rural de Pernambuco (UFRPE" />
									<f:selectItem
										itemLabel="Universidade Federal Rural do Rio de Janeiro (UFRRJ)"
										itemValue="	Universidade Federal Rural do Rio de Janeiro (UFRRJ" />
									<f:selectItem
										itemLabel="Universidade Federal Rural do Semi-Árido (UFERSA)"
										itemValue="	Universidade Federal Rural do Semi-Árido (UFERSA" />
									<f:selectItem itemLabel="Universidade Feevale (FEEVALE)"
										itemValue="	Universidade Feevale (FEEVALE" />
									<f:selectItem itemLabel="Universidade Fumec (FUMEC)"
										itemValue="	Universidade Fumec (FUMEC" />
									<f:selectItem itemLabel="Universidade Guarulhos (UNG)"
										itemValue="	Universidade Guarulhos (UNG" />
									<f:selectItem itemLabel="Universidade Ibirapuera (UNIB)"
										itemValue="	Universidade Ibirapuera (UNIB" />
									<f:selectItem itemLabel="Universidade Iguaçu (UNIG)"
										itemValue="	Universidade Iguaçu (UNIG" />
									<f:selectItem
										itemLabel="Universidade José do Rosário Vellano (UNIFENAS)"
										itemValue="	Universidade José do Rosário Vellano (UNIFENAS" />
									<f:selectItem
										itemLabel="Universidade Luterana do Brasil (ULBRA)"
										itemValue="	Universidade Luterana do Brasil (ULBRA" />
									<f:selectItem
										itemLabel="Universidade Metodista de Piracicaba (UNIMEP)"
										itemValue="	Universidade Metodista de Piracicaba (UNIMEP" />
									<f:selectItem
										itemLabel="Universidade Metodista de São Paulo (UMESP)"
										itemValue="	Universidade Metodista de São Paulo (UMESP" />
									<f:selectItem
										itemLabel="Universidade Metropolitana de Santos (UNIMES)"
										itemValue="	Universidade Metropolitana de Santos (UNIMES" />
									<f:selectItem
										itemLabel="Universidade Municipal de São Caetano do Sul (USCS)"
										itemValue="	Universidade Municipal de São Caetano do Sul (USCS" />
									<f:selectItem
										itemLabel="Universidade Nilton Lins (UNINILTONLINS)"
										itemValue="	Universidade Nilton Lins (UNINILTONLINS" />
									<f:selectItem itemLabel="Universidade Norte do Paraná (UNOPAR)"
										itemValue="	Universidade Norte do Paraná (UNOPAR" />
									<f:selectItem itemLabel="Universidade Nove de Julho (UNINOVE)"
										itemValue="	Universidade Nove de Julho (UNINOVE" />
									<f:selectItem itemLabel="Universidade Paranaense (UNIPAR)"
										itemValue="	Universidade Paranaense (UNIPAR" />
									<f:selectItem itemLabel="Universidade Paulista (UNIP)"
										itemValue="	Universidade Paulista (UNIP" />
									<f:selectItem itemLabel="Universidade Positivo (UP)"
										itemValue="	Universidade Positivo (UP" />
									<f:selectItem itemLabel="Universidade Potiguar (UNP)"
										itemValue="	Universidade Potiguar (UNP" />
									<f:selectItem
										itemLabel="Universidade Presbiteriana Mackenzie (MACKENZIE)"
										itemValue="	Universidade Presbiteriana Mackenzie (MACKENZIE" />
									<f:selectItem
										itemLabel="Universidade Presidente Antônio Carlos (UNIPAC)"
										itemValue="	Universidade Presidente Antônio Carlos (UNIPAC" />
									<f:selectItem
										itemLabel="Universidade Regional de Blumenau (FURB)"
										itemValue="	Universidade Regional de Blumenau (FURB" />
									<f:selectItem
										itemLabel="Universidade Regional do Cariri (URCA)"
										itemValue="	Universidade Regional do Cariri (URCA" />
									<f:selectItem
										itemLabel="Universidade Regional do Noroeste do Estado do Rio Grande do Sul (UNIJUI)"
										itemValue="	Universidade Regional do Noroeste do Estado do Rio Grande do Sul (UNIJUI" />
									<f:selectItem
										itemLabel="Universidade Regional Integrada do Alto Uruguai e Das Missões (URI)"
										itemValue="	Universidade Regional Integrada do Alto Uruguai e Das Missões (URI" />
									<f:selectItem
										itemLabel="Universidade Salgado de Oliveira (UNIVERSO)"
										itemValue="	Universidade Salgado de Oliveira (UNIVERSO" />
									<f:selectItem itemLabel="Universidade Salvador (UNIFACS)"
										itemValue="	Universidade Salvador (UNIFACS" />
									<f:selectItem itemLabel="Universidade Santa Cecília (UNISANTA)"
										itemValue="	Universidade Santa Cecília (UNISANTA" />
									<f:selectItem itemLabel="Universidade Santa Úrsula (USU)"
										itemValue="	Universidade Santa Úrsula (USU" />
									<f:selectItem itemLabel="Universidade São Francisco (USF)"
										itemValue="	Universidade São Francisco (USF" />
									<f:selectItem itemLabel="Universidade São Judas Tadeu (USJT)"
										itemValue="	Universidade São Judas Tadeu (USJT" />
									<f:selectItem itemLabel="Universidade Severino Sombra (USS)"
										itemValue="	Universidade Severino Sombra (USS" />
									<f:selectItem
										itemLabel="Universidade Tecnológica Federal do Paraná (UTFPR)"
										itemValue="	Universidade Tecnológica Federal do Paraná (UTFPR" />
									<f:selectItem itemLabel="Universidade Tiradentes (UNIT)"
										itemValue="	Universidade Tiradentes (UNIT" />
									<f:selectItem itemLabel="Universidade Tuiuti do Paraná (UTP)"
										itemValue="	Universidade Tuiuti do Paraná (UTP" />
									<f:selectItem
										itemLabel="Universidade Vale do Rio Doce (UNIVALE)"
										itemValue="	Universidade Vale do Rio Doce (UNIVALE" />
									<f:selectItem
										itemLabel="Universidade Vale do Rio Verde (UNINCOR)"
										itemValue="	Universidade Vale do Rio Verde (UNINCOR" />
									<f:selectItem itemLabel="Universidade Veiga de Almeida (UVA)"
										itemValue="	Universidade Veiga de Almeida (UVA" />
									<f:selectItem itemLabel="Universidade Vila Velha (UVV)"
										itemValue="	Universidade Vila Velha (UVV" />
									<f:selectItem
										itemLabel="Universidade Virtual do Estado do Maranhão (UNIVIMA)"
										itemValue="	Universidade Virtual do Estado do Maranhão (UNIVIMA" />

									<f:selectItem itemLabel="Outra" itemValue="Outra" />


								</p:selectOneMenu>

								<!-- 								<p:commandButton value="Inserir nova" icon="fa fa-file-text-o" -->
								<!-- 									type="button" onclick="PF('dlg2').show();" /> -->
							</h:panelGroup>

							<p:outputLabel value="Profissão" for="prof" />
							<p:inputText id="prof" size="25" required="false"
								value="#{cadastrarBean.usuario.profissao}" />


							<p:outputLabel value="Graduação" for="grad" />
							<p:selectOneMenu id="grad"
								value="#{cadastrarBean.usuario.graduacao}" required="true">
								<f:selectItem itemLabel="Selecione sua graduação" itemValue="" />
								<f:selectItem itemLabel="	Zootecnia	" itemValue="	Zootecnia	" />
								<f:selectItem itemLabel="	Medicina Veterinária	"
									itemValue="	Medicina Veterinária	" />
								<f:selectItem itemLabel="	Agronomia	" itemValue="	Agronomia	" />
						
								<f:selectItem itemLabel="	Administração	"
									itemValue="	Administração	" />
								<f:selectItem itemLabel="	Administração	"
									itemValue="	Administração	" />
								<f:selectItem itemLabel="	Administração Pública	"
									itemValue="	Administração Pública	" />
								<f:selectItem itemLabel="	Agrimensura	"
									itemValue="	Agrimensura	" />
								<f:selectItem itemLabel="	Agroecologia	"
									itemValue="	Agroecologia	" />
								<f:selectItem itemLabel="	Agronegócios e Agropecuária	"
									itemValue="	Agronegócios e Agropecuária	" />
								<f:selectItem
									itemLabel="	Análise e Desenvolvimento de Sistemas	"
									itemValue="	Análise e Desenvolvimento de Sistemas	" />
								<f:selectItem itemLabel="	Aquicultura	"
									itemValue="	Aquicultura	" />
								<f:selectItem itemLabel="	Arqueologia	"
									itemValue="	Arqueologia	" />
								<f:selectItem itemLabel="	Arquitetura e Urbanismo	"
									itemValue="	Arquitetura e Urbanismo	" />
								<f:selectItem itemLabel="	Arquivologia	"
									itemValue="	Arquivologia	" />
								<f:selectItem itemLabel="	Astronomia	" itemValue="	Astronomia	" />
								<f:selectItem itemLabel="	Automação Industrial	"
									itemValue="	Automação Industrial	" />
								<f:selectItem itemLabel="	Biblioteconomia	"
									itemValue="	Biblioteconomia	" />
								<f:selectItem itemLabel="	Biocombustíveis	"
									itemValue="	Biocombustíveis	" />
								<f:selectItem itemLabel="	Biomedicina	"
									itemValue="	Biomedicina	" />
								<f:selectItem itemLabel="	Biotecnologia	"
									itemValue="	Biotecnologia	" />
								<f:selectItem itemLabel="	Biotecnologia e Bioquímica	"
									itemValue="	Biotecnologia e Bioquímica	" />
								<f:selectItem itemLabel="	Ciência da Computação	"
									itemValue="	Ciência da Computação	" />
								<f:selectItem itemLabel="	Ciência e Tecnologia	"
									itemValue="	Ciência e Tecnologia	" />
								<f:selectItem itemLabel="	Ciência e Tecnologia de Alimentos	"
									itemValue="	Ciência e Tecnologia de Alimentos	" />
								<f:selectItem itemLabel="	Ciências Aeronáuticas	"
									itemValue="	Ciências Aeronáuticas	" />
								<f:selectItem itemLabel="	Ciências Agrárias	"
									itemValue="	Ciências Agrárias	" />
								<f:selectItem itemLabel="	Ciências Atuariais	"
									itemValue="	Ciências Atuariais	" />
								<f:selectItem itemLabel="	Ciências Biológicas	"
									itemValue="	Ciências Biológicas	" />
								<f:selectItem itemLabel="	Ciências Contábeis	"
									itemValue="	Ciências Contábeis	" />
								<f:selectItem itemLabel="	Ciências Econômicas	"
									itemValue="	Ciências Econômicas	" />
								<f:selectItem itemLabel="	Ciências Humanas	"
									itemValue="	Ciências Humanas	" />
								<f:selectItem itemLabel="	Ciências Naturais e Exatas	"
									itemValue="	Ciências Naturais e Exatas	" />
								<f:selectItem itemLabel="	Ciências Sociais	"
									itemValue="	Ciências Sociais	" />
								<f:selectItem itemLabel="	Cinema e Audiovisual	"
									itemValue="	Cinema e Audiovisual	" />
								<f:selectItem itemLabel="	Comércio Exterior	"
									itemValue="	Comércio Exterior	" />
								<f:selectItem itemLabel="	Computação	" itemValue="	Computação	" />
								<f:selectItem itemLabel="	Comunicação Assistiva	"
									itemValue="	Comunicação Assistiva	" />
								<f:selectItem itemLabel="	Comunicação das Artes do Corpo	"
									itemValue="	Comunicação das Artes do Corpo	" />
								<f:selectItem itemLabel="	Comunicação e Multimeios	"
									itemValue="	Comunicação e Multimeios	" />
								<f:selectItem itemLabel="	Comunicação Institucional	"
									itemValue="	Comunicação Institucional	" />
								<f:selectItem itemLabel="	Comunicação Organizacional	"
									itemValue="	Comunicação Organizacional	" />
								<f:selectItem itemLabel="	Conservação e Restauro	"
									itemValue="	Conservação e Restauro	" />
								<f:selectItem itemLabel="	Construção Civil	"
									itemValue="	Construção Civil	" />
								<f:selectItem itemLabel="	Construção Naval	"
									itemValue="	Construção Naval	" />
								<f:selectItem itemLabel="	Cooperativismo	"
									itemValue="	Cooperativismo	" />
								<f:selectItem itemLabel="	Dança	" itemValue="	Dança	" />
								<f:selectItem
									itemLabel="	Defesa e Gestão Estratégica Internacional	"
									itemValue="	Defesa e Gestão Estratégica Internacional	" />
								<f:selectItem itemLabel="	Design	" itemValue="	Design	" />
								<f:selectItem itemLabel="	Design de Games	"
									itemValue="	Design de Games	" />
								<f:selectItem itemLabel="	Design de Interiores	"
									itemValue="	Design de Interiores	" />
								<f:selectItem itemLabel="	Design de Moda	"
									itemValue="	Design de Moda	" />
								<f:selectItem itemLabel="	Direito	" itemValue="	Direito	" />
								<f:selectItem itemLabel="	Ecologia	" itemValue="	Ecologia	" />
								<f:selectItem itemLabel="	Economia Doméstica	"
									itemValue="	Economia Doméstica	" />
								<f:selectItem itemLabel="	Educação Física	"
									itemValue="	Educação Física	" />
								<f:selectItem itemLabel="	Educomunicação	"
									itemValue="	Educomunicação	" />
								<f:selectItem itemLabel="	Eletrônica Industrial	"
									itemValue="	Eletrônica Industrial	" />
								<f:selectItem itemLabel="	Eletrotécnica Industrial	"
									itemValue="	Eletrotécnica Industrial	" />
								<f:selectItem itemLabel="	Enfermagem	" itemValue="	Enfermagem	" />
								<f:selectItem itemLabel="	Engenharia Acústica	"
									itemValue="	Engenharia Acústica	" />
								<f:selectItem itemLabel="	Engenharia Aeronáutica	"
									itemValue="	Engenharia Aeronáutica	" />
								<f:selectItem itemLabel="	Engenharia Agrícola	"
									itemValue="	Engenharia Agrícola	" />
								<f:selectItem itemLabel="	Engenharia Ambiental e Sanitária	"
									itemValue="	Engenharia Ambiental e Sanitária	" />
								<f:selectItem itemLabel="	Engenharia Biomédica	"
									itemValue="	Engenharia Biomédica	" />
								<f:selectItem
									itemLabel="	Engenharia Cartográfica e de Agrimensura	"
									itemValue="	Engenharia Cartográfica e de Agrimensura	" />
								<f:selectItem itemLabel="	Engenharia Civil	"
									itemValue="	Engenharia Civil	" />
								<f:selectItem itemLabel="	Engenharia da Computação	"
									itemValue="	Engenharia da Computação	" />
								<f:selectItem itemLabel="	Engenharia de Alimentos	"
									itemValue="	Engenharia de Alimentos	" />
								<f:selectItem
									itemLabel="	Engenharia de Bioprocessos e Biotecnologia	"
									itemValue="	Engenharia de Bioprocessos e Biotecnologia	" />
								<f:selectItem itemLabel="	Engenharia de Biossistemas	"
									itemValue="	Engenharia de Biossistemas	" />
								<f:selectItem itemLabel="	Engenharia de Controle e Automação	"
									itemValue="	Engenharia de Controle e Automação	" />
								<f:selectItem itemLabel="	Engenharia de Energia	"
									itemValue="	Engenharia de Energia	" />
								<f:selectItem itemLabel="	Engenharia de Inovação	"
									itemValue="	Engenharia de Inovação	" />
								<f:selectItem itemLabel="	Engenharia de Materiais	"
									itemValue="	Engenharia de Materiais	" />
								<f:selectItem itemLabel="	Engenharia de Minas	"
									itemValue="	Engenharia de Minas	" />
								<f:selectItem itemLabel="	Engenharia de Pesca	"
									itemValue="	Engenharia de Pesca	" />
								<f:selectItem itemLabel="	Engenharia de Petróleo	"
									itemValue="	Engenharia de Petróleo	" />
								<f:selectItem itemLabel="	Engenharia de Produção	"
									itemValue="	Engenharia de Produção	" />
								<f:selectItem itemLabel="	Engenharia de Segurança no Trabalho	"
									itemValue="	Engenharia de Segurança no Trabalho	" />
								<f:selectItem itemLabel="	Engenharia de Sistemas	"
									itemValue="	Engenharia de Sistemas	" />
								<f:selectItem itemLabel="	Engenharia de Software	"
									itemValue="	Engenharia de Software	" />
								<f:selectItem itemLabel="	Engenharia de Telecomunicações	"
									itemValue="	Engenharia de Telecomunicações	" />
								<f:selectItem
									itemLabel="	Engenharia de Transporte e da Mobilidade	"
									itemValue="	Engenharia de Transporte e da Mobilidade	" />
								<f:selectItem itemLabel="	Engenharia Elétrica	"
									itemValue="	Engenharia Elétrica	" />
								<f:selectItem itemLabel="	Engenharia Eletrônica	"
									itemValue="	Engenharia Eletrônica	" />
								<f:selectItem itemLabel="	Engenharia Física	"
									itemValue="	Engenharia Física	" />
								<f:selectItem itemLabel="	Engenharia Florestal	"
									itemValue="	Engenharia Florestal	" />
								<f:selectItem itemLabel="	Engenharia Hídrica	"
									itemValue="	Engenharia Hídrica	" />
								<f:selectItem itemLabel="	Engenharia Industrial Madeireira	"
									itemValue="	Engenharia Industrial Madeireira	" />
								<f:selectItem itemLabel="	Engenharia Mecânica	"
									itemValue="	Engenharia Mecânica	" />
								<f:selectItem itemLabel="	Engenharia Mecatrônica	"
									itemValue="	Engenharia Mecatrônica	" />
								<f:selectItem itemLabel="	Engenharia Metalúrgica	"
									itemValue="	Engenharia Metalúrgica	" />
								<f:selectItem itemLabel="	Engenharia Naval	"
									itemValue="	Engenharia Naval	" />
								<f:selectItem itemLabel="	Engenharia Nuclear	"
									itemValue="	Engenharia Nuclear	" />
								<f:selectItem itemLabel="	Engenharia Química	"
									itemValue="	Engenharia Química	" />
								<f:selectItem itemLabel="	Engenharia Têxtil	"
									itemValue="	Engenharia Têxtil	" />
								<f:selectItem itemLabel="	Escrita Criativa	"
									itemValue="	Escrita Criativa	" />
								<f:selectItem itemLabel="	Esporte	" itemValue="	Esporte	" />
								<f:selectItem itemLabel="	Estatística	"
									itemValue="	Estatística	" />
								<f:selectItem itemLabel="	Estética e Cosmética	"
									itemValue="	Estética e Cosmética	" />
								<f:selectItem itemLabel="	Estudos de Gênero e Diversidade	"
									itemValue="	Estudos de Gênero e Diversidade	" />
								<f:selectItem itemLabel="	Estudos de Mídia	"
									itemValue="	Estudos de Mídia	" />
								<f:selectItem itemLabel="	Eventos	" itemValue="	Eventos	" />
								<f:selectItem itemLabel="	Fabricação Mecânica	"
									itemValue="	Fabricação Mecânica	" />
								<f:selectItem itemLabel="	Farmácia	" itemValue="	Farmácia	" />
								<f:selectItem itemLabel="	Filosofia	" itemValue="	Filosofia	" />
								<f:selectItem itemLabel="	Física	" itemValue="	Física	" />
								<f:selectItem itemLabel="	Fisioterapia	"
									itemValue="	Fisioterapia	" />
								<f:selectItem itemLabel="	Fonoaudiologia	"
									itemValue="	Fonoaudiologia	" />
								<f:selectItem itemLabel="	Fotografia	" itemValue="	Fotografia	" />
								<f:selectItem itemLabel="	Gastronomia	"
									itemValue="	Gastronomia	" />
								<f:selectItem itemLabel="	Geofísica	" itemValue="	Geofísica	" />
								<f:selectItem itemLabel="	Geografia	" itemValue="	Geografia	" />
								<f:selectItem itemLabel="	Geologia	" itemValue="	Geologia	" />
								<f:selectItem itemLabel="	Geoprocessamento	"
									itemValue="	Geoprocessamento	" />
								<f:selectItem itemLabel="	Gerontologia	"
									itemValue="	Gerontologia	" />
								<f:selectItem itemLabel="	Gestão Ambiental	"
									itemValue="	Gestão Ambiental	" />
								<f:selectItem itemLabel="	Gestão Comercial	"
									itemValue="	Gestão Comercial	" />
								<f:selectItem itemLabel="	Gestão da Informação	"
									itemValue="	Gestão da Informação	" />
								<f:selectItem itemLabel="	Gestão da Produção Industrial	"
									itemValue="	Gestão da Produção Industrial	" />
								<f:selectItem itemLabel="	Gestão da Qualidade	"
									itemValue="	Gestão da Qualidade	" />
								<f:selectItem itemLabel="	Gestão da Tecnologia da Informação	"
									itemValue="	Gestão da Tecnologia da Informação	" />
								<f:selectItem itemLabel="	Gestão de Cooperativas	"
									itemValue="	Gestão de Cooperativas	" />
								<f:selectItem itemLabel="	Gestão de Recursos Humanos	"
									itemValue="	Gestão de Recursos Humanos	" />
								<f:selectItem itemLabel="	Gestão de Segurança Privada	"
									itemValue="	Gestão de Segurança Privada	" />
								<f:selectItem itemLabel="	Gestão de Turismo	"
									itemValue="	Gestão de Turismo	" />
								<f:selectItem itemLabel="	Gestão Desportiva e de Lazer	"
									itemValue="	Gestão Desportiva e de Lazer	" />
								<f:selectItem itemLabel="	Gestão em Saúde	"
									itemValue="	Gestão em Saúde	" />
								<f:selectItem itemLabel="	Gestão Financeira	"
									itemValue="	Gestão Financeira	" />
								<f:selectItem itemLabel="	Gestão Hospitalar	"
									itemValue="	Gestão Hospitalar	" />
								<f:selectItem itemLabel="	Gestão Pública	"
									itemValue="	Gestão Pública	" />
								<f:selectItem itemLabel="	História	" itemValue="	História	" />
								<f:selectItem itemLabel="	História da Arte	"
									itemValue="	História da Arte	" />
								<f:selectItem itemLabel="	Hotelaria	" itemValue="	Hotelaria	" />
								<f:selectItem itemLabel="	Informática Biomédica	"
									itemValue="	Informática Biomédica	" />
								<f:selectItem itemLabel="	Irrigação e Drenagem	"
									itemValue="	Irrigação e Drenagem	" />
								<f:selectItem itemLabel="	Jogos Digitais	"
									itemValue="	Jogos Digitais	" />
								<f:selectItem itemLabel="	Jornalismo	" itemValue="	Jornalismo	" />
								<f:selectItem itemLabel="	Letras	" itemValue="	Letras	" />
								<f:selectItem itemLabel="	Libras	" itemValue="	Libras	" />
								<f:selectItem itemLabel="	Linguística	"
									itemValue="	Linguística	" />
								<f:selectItem itemLabel="	Logística	" itemValue="	Logística	" />
								<f:selectItem itemLabel="	Luteria	" itemValue="	Luteria	" />
								<f:selectItem itemLabel="	Manutenção de Aeronaves	"
									itemValue="	Manutenção de Aeronaves	" />
								<f:selectItem itemLabel="	Manutenção Industrial	"
									itemValue="	Manutenção Industrial	" />
								<f:selectItem itemLabel="	Marketing	" itemValue="	Marketing	" />
								<f:selectItem itemLabel="	Matemática	" itemValue="	Matemática	" />
								<f:selectItem itemLabel="	Materiais	" itemValue="	Materiais	" />
								<f:selectItem itemLabel="	Mecatrônica Industrial	"
									itemValue="	Mecatrônica Industrial	" />
								<f:selectItem itemLabel="	Medicina	" itemValue="	Medicina	" />
								<f:selectItem itemLabel="	Meteorologia	"
									itemValue="	Meteorologia	" />
								<f:selectItem itemLabel="	Mineração	" itemValue="	Mineração	" />
								<f:selectItem itemLabel="	Museologia	" itemValue="	Museologia	" />
								<f:selectItem itemLabel="	Música	" itemValue="	Música	" />
								<f:selectItem itemLabel="	Musicoterapia	"
									itemValue="	Musicoterapia	" />
								<f:selectItem itemLabel="	Nanotecnologia	"
									itemValue="	Nanotecnologia	" />
								<f:selectItem itemLabel="	Naturologia	"
									itemValue="	Naturologia	" />
								<f:selectItem itemLabel="	Negócios Imobiliários	"
									itemValue="	Negócios Imobiliários	" />
								<f:selectItem itemLabel="	Nutrição	" itemValue="	Nutrição	" />
								<f:selectItem itemLabel="	Obstetrícia	"
									itemValue="	Obstetrícia	" />
								<f:selectItem itemLabel="	Oceanografia	"
									itemValue="	Oceanografia	" />
								<f:selectItem itemLabel="	Odontologia	"
									itemValue="	Odontologia	" />
								<f:selectItem itemLabel="	Oftálmica	" itemValue="	Oftálmica	" />
								<f:selectItem itemLabel="	Óptica e Optometria	"
									itemValue="	Óptica e Optometria	" />
								<f:selectItem itemLabel="	Papel e Celulose	"
									itemValue="	Papel e Celulose	" />
								<f:selectItem itemLabel="	Pedagogia	" itemValue="	Pedagogia	" />
								<f:selectItem itemLabel="	Petróleo e Gás	"
									itemValue="	Petróleo e Gás	" />
								<f:selectItem itemLabel="	Pilotagem Profissional de Aeronaves	"
									itemValue="	Pilotagem Profissional de Aeronaves	" />
								<f:selectItem itemLabel="	Processos Gerenciais	"
									itemValue="	Processos Gerenciais	" />
								<f:selectItem itemLabel="	Processos Metalúrgicos	"
									itemValue="	Processos Metalúrgicos	" />
								<f:selectItem itemLabel="	Processos Químicos	"
									itemValue="	Processos Químicos	" />
								<f:selectItem itemLabel="	Produção Audiovisual	"
									itemValue="	Produção Audiovisual	" />
								<f:selectItem itemLabel="	Produção Cênica	"
									itemValue="	Produção Cênica	" />
								<f:selectItem itemLabel="	Produção Cultural	"
									itemValue="	Produção Cultural	" />
								<f:selectItem itemLabel="	Produção de Bebidas	"
									itemValue="	Produção de Bebidas	" />
								<f:selectItem itemLabel="	Produção Editorial	"
									itemValue="	Produção Editorial	" />
								<f:selectItem itemLabel="	Produção Fonográfica	"
									itemValue="	Produção Fonográfica	" />
								<f:selectItem itemLabel="	Produção Multimídia	"
									itemValue="	Produção Multimídia	" />
								<f:selectItem itemLabel="	Produção Publicitária	"
									itemValue="	Produção Publicitária	" />
								<f:selectItem itemLabel="	Produção Sucroalcooleira	"
									itemValue="	Produção Sucroalcooleira	" />
								<f:selectItem itemLabel="	Produção Têxtil	"
									itemValue="	Produção Têxtil	" />
								<f:selectItem itemLabel="	Psicologia	" itemValue="	Psicologia	" />
								<f:selectItem itemLabel="	Psicopedagogia	"
									itemValue="	Psicopedagogia	" />
								<f:selectItem itemLabel="	Publicidade e Propaganda	"
									itemValue="	Publicidade e Propaganda	" />
								<f:selectItem itemLabel="	Química	" itemValue="	Química	" />
								<f:selectItem itemLabel="	Quiropraxia	"
									itemValue="	Quiropraxia	" />
								<f:selectItem itemLabel="	Rádio e TV	" itemValue="	Rádio e TV	" />
								<f:selectItem itemLabel="	Radiologia	" itemValue="	Radiologia	" />
								<f:selectItem itemLabel="	Redes de Computadores	"
									itemValue="	Redes de Computadores	" />
								<f:selectItem itemLabel="	Relações Internacionais	"
									itemValue="	Relações Internacionais	" />
								<f:selectItem itemLabel="	Relações Públicas	"
									itemValue="	Relações Públicas	" />
								<f:selectItem itemLabel="	Saneamento Ambiental	"
									itemValue="	Saneamento Ambiental	" />
								<f:selectItem itemLabel="	Saúde Coletiva	"
									itemValue="	Saúde Coletiva	" />
								<f:selectItem itemLabel="	Secretariado	"
									itemValue="	Secretariado	" />
								<f:selectItem itemLabel="	Secretariado Executivo	"
									itemValue="	Secretariado Executivo	" />
								<f:selectItem itemLabel="	Segurança da Informação	"
									itemValue="	Segurança da Informação	" />
								<f:selectItem itemLabel="	Segurança no Trabalho	"
									itemValue="	Segurança no Trabalho	" />
								<f:selectItem itemLabel="	Segurança Pública	"
									itemValue="	Segurança Pública	" />
								<f:selectItem itemLabel="	Serviço Social	"
									itemValue="	Serviço Social	" />
								<f:selectItem itemLabel="	Silvicultura	"
									itemValue="	Silvicultura	" />
								<f:selectItem itemLabel="	Sistemas Biomédicos	"
									itemValue="	Sistemas Biomédicos	" />
								<f:selectItem itemLabel="	Sistemas de Informação	"
									itemValue="	Sistemas de Informação	" />
								<f:selectItem itemLabel="	Sistemas de Telecomunicações	"
									itemValue="	Sistemas de Telecomunicações	" />
								<f:selectItem itemLabel="	Sistemas Elétricos	"
									itemValue="	Sistemas Elétricos	" />
								<f:selectItem itemLabel="	Sistemas Embarcados	"
									itemValue="	Sistemas Embarcados	" />
								<f:selectItem itemLabel="	Sistemas para Internet	"
									itemValue="	Sistemas para Internet	" />
								<f:selectItem itemLabel="	Teatro	" itemValue="	Teatro	" />
								<f:selectItem itemLabel="	Teologia	" itemValue="	Teologia	" />
								<f:selectItem itemLabel="	Terapia Ocupacional	"
									itemValue="	Terapia Ocupacional	" />
								<f:selectItem itemLabel="	Tradutor e Intérprete	"
									itemValue="	Tradutor e Intérprete	" />
								<f:selectItem itemLabel="	Transporte	" itemValue="	Transporte	" />
								<f:selectItem itemLabel="	Turismo	" itemValue="	Turismo	" />
								<f:selectItem itemLabel="	Zootecnia	" itemValue="	Zootecnia	" />
							</p:selectOneMenu>


							<p:outputLabel value="Especialização" for="espe" />
							<p:inputText id="espe" size="25" required="false"
								value="#{cadastrarBean.usuario.especializacao}" />


							<p:outputLabel value="Mestrado" for="mestrado" />
							<p:inputText id="mestrado" size="25" required="false"
								value="#{cadastrarBean.usuario.mestrado}" />


							<p:outputLabel value="Doutorado" for="doutorado" />
							<p:inputText id="doutorado" size="25" required="false"
								value="#{cadastrarBean.usuario.doutorado}" />

							<p:outputLabel value="Pós doutorado" for="posdoc" />
							<p:inputText id="posdoc" size="25" required="false"
								value="#{cadastrarBean.usuario.posDoutorado}" />


							<p:outputLabel value="Descrição" for="desc" />

							<p:selectOneRadio id="desc"
								value="#{cadastrarBean.endereco.descricao}">
								<f:selectItem itemLabel="Profissional" itemValue="profissional" />
								<f:selectItem itemLabel="Residencial" itemValue="residencial" />
							</p:selectOneRadio>

							<p:outputLabel value="País" for="pais" />
							<p:selectOneMenu id="pais" value="#{cadastrarBean.endereco.pais}"
								required="true">
								<f:selectItem itemLabel="	Brasil	" itemValue="	Brasil	" />
								<f:selectItem itemLabel="Afeganistão" itemValue="Afeganistão" />
								<f:selectItem itemLabel="África do Sul"
									itemValue="África do Sul" />
								<f:selectItem itemLabel="Albânia" itemValue="Albânia" />
								<f:selectItem itemLabel="Argélia" itemValue="Argélia" />
								<f:selectItem itemLabel="Alemanha" itemValue="Alemanha" />
								<f:selectItem itemLabel="Andorra" itemValue="Andorra" />
								<f:selectItem itemLabel="Angola" itemValue="Angola" />
								<f:selectItem itemLabel="Arábia Saudita"
									itemValue="Arábia Saudita" />
								<f:selectItem itemLabel="Argentina" itemValue="Argentina" />
								<f:selectItem itemLabel="Arménia" itemValue="Arménia" />
								<f:selectItem itemLabel="Antiga e Barbuda"
									itemValue="	Antiga e Barbuda	" />
								<f:selectItem itemLabel="	Austrália	" itemValue="	Austrália	" />
								<f:selectItem itemLabel="	Áustria	" itemValue="	Áustria	" />
								<f:selectItem itemLabel="	Azerbaijão	" itemValue="	Azerbaijão	" />
								<f:selectItem itemLabel="	Baamas	" itemValue="	Baamas	" />
								<f:selectItem itemLabel="	Barém	" itemValue="	Barém	" />
								<f:selectItem itemLabel="	Bangladexe	" itemValue="	Bangladexe	" />
								<f:selectItem itemLabel="	Barbados	" itemValue="	Barbados	" />
								<f:selectItem itemLabel="	Bélgica	" itemValue="	Bélgica	" />
								<f:selectItem itemLabel="	Belize	" itemValue="	Belize	" />
								<f:selectItem itemLabel="	Benim	" itemValue="	Benim	" />
								<f:selectItem itemLabel="	Butão	" itemValue="	Butão	" />
								<f:selectItem itemLabel="	Bielorrússia	"
									itemValue="	Bielorrússia	" />
								<f:selectItem itemLabel="	Mianmar	" itemValue="	Mianmar	" />
								<f:selectItem itemLabel="	Bolívia	" itemValue="	Bolívia	" />
								<f:selectItem itemLabel="	Bósnia e Herzegovina	"
									itemValue="	Bósnia e Herzegovina	" />
								<f:selectItem itemLabel="	Botsuana	" itemValue="	Botsuana	" />
								
								<f:selectItem itemLabel="	Brunei	" itemValue="	Brunei	" />
								<f:selectItem itemLabel="	Bulgária	" itemValue="	Bulgária	" />
								<f:selectItem itemLabel="	Burquina Faso	"
									itemValue="	Burquina Faso	" />
								<f:selectItem itemLabel="	Burúndi	" itemValue="	Burúndi	" />
								<f:selectItem itemLabel="	Camboja	" itemValue="	Camboja	" />
								<f:selectItem itemLabel="	Camarões	" itemValue="	Camarões	" />
								<f:selectItem itemLabel="	Canadá	" itemValue="	Canadá	" />
								<f:selectItem itemLabel="	Cabo Verde	" itemValue="	Cabo Verde	" />
								<f:selectItem itemLabel="	Chile	" itemValue="	Chile	" />
								<f:selectItem itemLabel="	China	" itemValue="	China	" />
								<f:selectItem itemLabel="	Chipre	" itemValue="	Chipre	" />
								<f:selectItem itemLabel="	Colômbia	" itemValue="	Colômbia	" />
								<f:selectItem itemLabel="	Comores	" itemValue="	Comores	" />
								<f:selectItem itemLabel="	Congo-Brazzaville	"
									itemValue="	Congo-Brazzaville	" />
								<f:selectItem itemLabel="	Coreia do Norte	"
									itemValue="	Coreia do Norte	" />
								<f:selectItem itemLabel="	Coreia do Sul	"
									itemValue="	Coreia do Sul	" />
								<f:selectItem itemLabel="	Costa Rica	" itemValue="	Costa Rica	" />
								<f:selectItem itemLabel="	Costa do Marfim	"
									itemValue="	Costa do Marfim	" />
								<f:selectItem itemLabel="	Croácia	" itemValue="	Croácia	" />
								<f:selectItem itemLabel="	Cuba	" itemValue="	Cuba	" />
								<f:selectItem itemLabel="	Dinamarca	" itemValue="	Dinamarca	" />
								<f:selectItem itemLabel="	Jibuti	" itemValue="	Jibuti	" />
								<f:selectItem itemLabel="	Dominica	" itemValue="	Dominica	" />
								<f:selectItem itemLabel="	Egito	" itemValue="	Egito	" />
								<f:selectItem itemLabel="	Emirados Árabes Unidos	"
									itemValue="	Emirados Árabes Unidos	" />
								<f:selectItem itemLabel="	Equador	" itemValue="	Equador	" />
								<f:selectItem itemLabel="	Eritreia	" itemValue="	Eritreia	" />
								<f:selectItem itemLabel="	Espanha	" itemValue="	Espanha	" />
								<f:selectItem itemLabel="	Estónia	" itemValue="	Estónia	" />
								<f:selectItem itemLabel="	Estados Unidos	"
									itemValue="	Estados Unidos	" />
								<f:selectItem itemLabel="	Etiópia	" itemValue="	Etiópia	" />
								<f:selectItem itemLabel="	Fiji	" itemValue="	Fiji	" />
								<f:selectItem itemLabel="	Finlândia	" itemValue="	Finlândia	" />
								<f:selectItem itemLabel="	França	" itemValue="	França	" />
								<f:selectItem itemLabel="	Gabão	" itemValue="	Gabão	" />
								<f:selectItem itemLabel="	Gâmbia	" itemValue="	Gâmbia	" />
								<f:selectItem itemLabel="	Geórgia	" itemValue="	Geórgia	" />
								<f:selectItem itemLabel="	Gana	" itemValue="	Gana	" />
								<f:selectItem itemLabel="	Grécia	" itemValue="	Grécia	" />
								<f:selectItem itemLabel="	Granada	" itemValue="	Granada	" />
								<f:selectItem itemLabel="	Guatemala	" itemValue="	Guatemala	" />
								<f:selectItem itemLabel="	Guiné	" itemValue="	Guiné	" />
								<f:selectItem itemLabel="	Guiné Equatorial	"
									itemValue="	Guiné Equatorial	" />
								<f:selectItem itemLabel="	Guiné-Bissau	"
									itemValue="	Guiné-Bissau	" />
								<f:selectItem itemLabel="	Guiana	" itemValue="	Guiana	" />
								<f:selectItem itemLabel="	Haiti	" itemValue="	Haiti	" />
								<f:selectItem itemLabel="	Honduras	" itemValue="	Honduras	" />
								<f:selectItem itemLabel="	Hungria	" itemValue="	Hungria	" />
								<f:selectItem itemLabel="	Maurícia	" itemValue="	Maurícia	" />
								<f:selectItem itemLabel="	Índia	" itemValue="	Índia	" />
								<f:selectItem itemLabel="	Indonésia	" itemValue="	Indonésia	" />
								<f:selectItem itemLabel="	Iraque	" itemValue="	Iraque	" />
								<f:selectItem itemLabel="	Irão	" itemValue="	Irão	" />
								<f:selectItem itemLabel="	Irlanda	" itemValue="	Irlanda	" />
								<f:selectItem itemLabel="	Islândia	" itemValue="	Islândia	" />
								<f:selectItem itemLabel="	Israel	" itemValue="	Israel	" />
								<f:selectItem itemLabel="	Itália	" itemValue="	Itália	" />
								<f:selectItem itemLabel="	Jamaica	" itemValue="	Jamaica	" />
								<f:selectItem itemLabel="	Japão	" itemValue="	Japão	" />
								<f:selectItem itemLabel="	Jordânia	" itemValue="	Jordânia	" />
								<f:selectItem itemLabel="	Cazaquistão	"
									itemValue="	Cazaquistão	" />
								<f:selectItem itemLabel="	Quénia	" itemValue="	Quénia	" />
								<f:selectItem itemLabel="	Quirguistão	"
									itemValue="	Quirguistão	" />
								<f:selectItem itemLabel="	Quiribáti	" itemValue="	Quiribáti	" />
								<f:selectItem itemLabel="	Cosovo	" itemValue="	Cosovo	" />
								<f:selectItem itemLabel="	Cuaite	" itemValue="	Cuaite	" />
								<f:selectItem itemLabel="	Laus	" itemValue="	Laus	" />
								<f:selectItem itemLabel="	Lesoto	" itemValue="	Lesoto	" />
								<f:selectItem itemLabel="	Letónia	" itemValue="	Letónia	" />
								<f:selectItem itemLabel="	Líbano	" itemValue="	Líbano	" />
								<f:selectItem itemLabel="	Libéria	" itemValue="	Libéria	" />
								<f:selectItem itemLabel="	Líbia	" itemValue="	Líbia	" />
								<f:selectItem itemLabel="	Listenstaine	"
									itemValue="	Listenstaine	" />
								<f:selectItem itemLabel="	Lituânia	" itemValue="	Lituânia	" />
								<f:selectItem itemLabel="	Luxemburgo	" itemValue="	Luxemburgo	" />
								<f:selectItem itemLabel="	Macedónia	" itemValue="	Macedónia	" />
								<f:selectItem itemLabel="	Madagáscar	" itemValue="	Madagáscar	" />
								<f:selectItem itemLabel="	Malásia	" itemValue="	Malásia	" />
								<f:selectItem itemLabel="	Maláui	" itemValue="	Maláui	" />
								<f:selectItem itemLabel="	Maldivas	" itemValue="	Maldivas	" />
								<f:selectItem itemLabel="	Mali	" itemValue="	Mali	" />
								<f:selectItem itemLabel="	Malta	" itemValue="	Malta	" />
								<f:selectItem itemLabel="	Marrocos	" itemValue="	Marrocos	" />
								<f:selectItem itemLabel="	Ilhas Marechal	"
									itemValue="	Ilhas Marechal	" />
								<f:selectItem itemLabel="	Mauritânia	" itemValue="	Mauritânia	" />
								<f:selectItem itemLabel="	México	" itemValue="	México	" />
								<f:selectItem itemLabel="	Micronésia	" itemValue="	Micronésia	" />
								<f:selectItem itemLabel="	Moldávia	" itemValue="	Moldávia	" />
								<f:selectItem itemLabel="	Mónaco	" itemValue="	Mónaco	" />
								<f:selectItem itemLabel="	Mongólia	" itemValue="	Mongólia	" />
								<f:selectItem itemLabel="	Montenegro	" itemValue="	Montenegro	" />
								<f:selectItem itemLabel="	Moçambique	" itemValue="	Moçambique	" />
								<f:selectItem itemLabel="	Namíbia	" itemValue="	Namíbia	" />
								<f:selectItem itemLabel="	Nauru	" itemValue="	Nauru	" />
								<f:selectItem itemLabel="	Nepal	" itemValue="	Nepal	" />
								<f:selectItem itemLabel="	Nicarágua	" itemValue="	Nicarágua	" />
								<f:selectItem itemLabel="	Níger	" itemValue="	Níger	" />
								<f:selectItem itemLabel="	Nigéria	" itemValue="	Nigéria	" />
								<f:selectItem itemLabel="	Noruega	" itemValue="	Noruega	" />
								<f:selectItem itemLabel="	Nova Zelândia	"
									itemValue="	Nova Zelândia	" />
								<f:selectItem itemLabel="	Omã	" itemValue="	Omã	" />
								<f:selectItem itemLabel="	Uganda	" itemValue="	Uganda	" />
								<f:selectItem itemLabel="	Usbequistão	"
									itemValue="	Usbequistão	" />
								<f:selectItem itemLabel="	Paquistão	" itemValue="	Paquistão	" />
								<f:selectItem itemLabel="	Palau	" itemValue="	Palau	" />
								<f:selectItem itemLabel="	Panamá	" itemValue="	Panamá	" />
								<f:selectItem itemLabel="	Papua Nova Guiné	"
									itemValue="	Papua Nova Guiné	" />
								<f:selectItem itemLabel="	Paraguai	" itemValue="	Paraguai	" />
								<f:selectItem itemLabel="	Países Baixos	"
									itemValue="	Países Baixos	" />
								<f:selectItem itemLabel="	Peru	" itemValue="	Peru	" />
								<f:selectItem itemLabel="	Filipinas	" itemValue="	Filipinas	" />
								<f:selectItem itemLabel="	Polónia	" itemValue="	Polónia	" />
								<f:selectItem itemLabel="	Portugal	" itemValue="	Portugal	" />
								<f:selectItem itemLabel="	Catar	" itemValue="	Catar	" />
								<f:selectItem itemLabel="	República Centro-Africana	"
									itemValue="	República Centro-Africana	" />
								<f:selectItem itemLabel="	República Democrática do Congo	"
									itemValue="	República Democrática do Congo	" />
								<f:selectItem itemLabel="	República Dominicana	"
									itemValue="	República Dominicana	" />
								<f:selectItem itemLabel="	República Checa	"
									itemValue="	República Checa	" />
								<f:selectItem itemLabel="	Roménia	" itemValue="	Roménia	" />
								<f:selectItem itemLabel="	Reino Unido	"
									itemValue="	Reino Unido	" />
								<f:selectItem itemLabel="	Rússia	" itemValue="	Rússia	" />
								<f:selectItem itemLabel="	Ruanda	" itemValue="	Ruanda	" />
								<f:selectItem itemLabel="	Santa Lúcia	"
									itemValue="	Santa Lúcia	" />
								<f:selectItem itemLabel="	São Cristóvão e Neves	"
									itemValue="	São Cristóvão e Neves	" />
								<f:selectItem itemLabel="	São Marinho	"
									itemValue="	São Marinho	" />
								<f:selectItem itemLabel="	São Vicente e Granadinas	"
									itemValue="	São Vicente e Granadinas	" />
								<f:selectItem itemLabel="	Salomão	" itemValue="	Salomão	" />
								<f:selectItem itemLabel="	Salvador	" itemValue="	Salvador	" />
								<f:selectItem itemLabel="	Samoa	" itemValue="	Samoa	" />
								<f:selectItem itemLabel="	São Tomé e Príncipe	"
									itemValue="	São Tomé e Príncipe	" />
								<f:selectItem itemLabel="	Senegal	" itemValue="	Senegal	" />
								<f:selectItem itemLabel="	Sérvia	" itemValue="	Sérvia	" />
								<f:selectItem itemLabel="	Seicheles	" itemValue="	Seicheles	" />
								<f:selectItem itemLabel="	Serra Leoa	" itemValue="	Serra Leoa	" />
								<f:selectItem itemLabel="	Singapura	" itemValue="	Singapura	" />
								<f:selectItem itemLabel="	Eslováquia	" itemValue="	Eslováquia	" />
								<f:selectItem itemLabel="	Eslovénia	" itemValue="	Eslovénia	" />
								<f:selectItem itemLabel="	Somália	" itemValue="	Somália	" />
								<f:selectItem itemLabel="	Sudão	" itemValue="	Sudão	" />
								<f:selectItem itemLabel="	Sudão do Sul	"
									itemValue="	Sudão do Sul	" />
								<f:selectItem itemLabel="	Sri Lanca	" itemValue="	Sri Lanca	" />
								<f:selectItem itemLabel="	Suécia	" itemValue="	Suécia	" />
								<f:selectItem itemLabel="	Suíça	" itemValue="	Suíça	" />
								<f:selectItem itemLabel="	Suriname	" itemValue="	Suriname	" />
								<f:selectItem itemLabel="	Suazilândia	"
									itemValue="	Suazilândia	" />
								<f:selectItem itemLabel="	Síria	" itemValue="	Síria	" />
								<f:selectItem itemLabel="	Tajiquistão	"
									itemValue="	Tajiquistão	" />
								<f:selectItem itemLabel="	Taiuã	" itemValue="	Taiuã	" />
								<f:selectItem itemLabel="	Tanzânia	" itemValue="	Tanzânia	" />
								<f:selectItem itemLabel="	Chade	" itemValue="	Chade	" />
								<f:selectItem itemLabel="	Tailândia	" itemValue="	Tailândia	" />
								<f:selectItem itemLabel="	Timor-Leste	"
									itemValue="	Timor-Leste	" />
								<f:selectItem itemLabel="	Togo	" itemValue="	Togo	" />
								<f:selectItem itemLabel="	Tonga	" itemValue="	Tonga	" />
								<f:selectItem itemLabel="	Trindade e Tobago	"
									itemValue="	Trindade e Tobago	" />
								<f:selectItem itemLabel="	Tunísia	" itemValue="	Tunísia	" />
								<f:selectItem itemLabel="	Turcomenistão	"
									itemValue="	Turcomenistão	" />
								<f:selectItem itemLabel="	Turquia	" itemValue="	Turquia	" />
								<f:selectItem itemLabel="	Tuvalu	" itemValue="	Tuvalu	" />
								<f:selectItem itemLabel="	Ucrânia	" itemValue="	Ucrânia	" />
								<f:selectItem itemLabel="	Uruguai	" itemValue="	Uruguai	" />
								<f:selectItem itemLabel="	Vanuatu	" itemValue="	Vanuatu	" />
								<f:selectItem itemLabel="	Vaticano	" itemValue="	Vaticano	" />
								<f:selectItem itemLabel="	Venezuela	" itemValue="	Venezuela	" />
								<f:selectItem itemLabel="	Vietname	" itemValue="	Vietname	" />
								<f:selectItem itemLabel="	Iémen	" itemValue="	Iémen	" />
								<f:selectItem itemLabel="	Zâmbia	" itemValue="	Zâmbia	" />
								<f:selectItem itemLabel="	Zimbábue	" itemValue="	Zimbábue	" />

							</p:selectOneMenu>

							<p:outputLabel value="Estado" for="estado" />
							<p:inputText id="estado" value="#{cadastrarBean.endereco.estado}" />

							<p:outputLabel value="Cidade" for="cidade" />
							<p:inputText id="cidade" value="#{cadastrarBean.endereco.cidade}"
								required="true" />

							<p:outputLabel value="CEP" for="cep" />
							<p:inputMask id="cep" value="#{cadastrarBean.endereco.cep}" mask="99999-999" />

							<p:outputLabel value="Rua" for="rua" />
							<p:inputText id="rua" value="#{cadastrarBean.endereco.rua}" />

							<p:outputLabel value="Número" for="num" />
							<p:inputText id="num" value="#{cadastrarBean.endereco.numero}" />

							<p:outputLabel value="Complemento" for="comple" />
							<p:inputText id="comple"
								value="#{cadastrarBean.endereco.complemento}" />

							<h:outputText value=" " />
							<p:commandButton value="Finalizar Cadastro" process=":frm"
								update="@form" action="#{cadastrarBean.finalizar}" />
						</p:panelGrid>
						<p:dialog id="dialog" header="Modal Dialog" widgetVar="dlg2"
							modal="true" height="600" width="1000" resizable="false"
							responsive="true" footer="SIBNAS- 2016">
							<p:panelGrid columns="2"
								style="border-top : 6%;border:0px !important; background:none;"
								styleClass="ui-panelgrid-blank">
								<p:outputLabel value="Instituição" for="instituicao" />
								<p:inputText id="instituicao"
									value="#{cadastrarBean.usuario.instituicao}" />
							</p:panelGrid>
							<p:commandButton value="inserir" onclick="dialog.hide()"
								process=":frm:dialog" update=":frm:dialog" />
						</p:dialog>
					</div>
				</div>

			</div>
		</div>
		<style type="text/css">
html {
	height: 100%;
}

.ui-button-text, .ui-button-text-only .ui-button-text {
	padding: 8px !important;
	transition: none !important;
}

.ui-panel .ui-panel-title {
	font-size: 17px;
}

.ui-steps .ui-steps-item {
	width: 24%;
}

.ui-state-highlight {
	text-shadow: none !important;
}

.ui-steps.custom {
	margin-bottom: 30px;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
	height: 10px;
	padding: 0 1em;
}

.ui-steps.custom .ui-steps-item .ui-steps-number {
	background-color: #0081c2;
	color: #FFFFFF;
	display: inline-block;
	width: 30px;
	border-radius: 10px;
	margin-top: -10px;
	margin-bottom: 10px;
}

.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
	color: #555;
}
</style>
		<h:outputStylesheet name="css/layout-blue.css" library="icarus-layout" />
	</h:form>
	<script>
		PrimeFaces.locales['pt'] = {
			closeText : 'Fechar',
			prevText : 'Anterior',
			nextText : 'Próximo',
			currentText : 'Começo',
			monthNames : [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio',
					'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro',
					'Novembro', 'Dezembro' ],
			monthNamesShort : [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun',
					'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
			dayNames : [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta',
					'Sexta', 'Sábado' ],
			dayNamesShort : [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb' ],
			dayNamesMin : [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
			weekHeader : 'Semana',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : '',
			timeOnlyTitle : 'Só Horas',
			timeText : 'Tempo',
			hourText : 'Hora',
			minuteText : 'Minuto',
			secondText : 'Segundo',
			currentText : 'Data Atual',
			ampm : false,
			month : 'Mês',
			week : 'Semana',
			day : 'Dia',
			allDayText : 'Todo Dia'
		};
	</script>
</h:body>

</html>