<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>SIBNAS Login</title>
</h:head>

<h:body styleClass="containerLogin">
	<form id="login" method="post" action="#{request.contextPath}/j_spring_security_check">
        <div class="logo-container">
            <h:graphicImage name="images/logo.svg" id="PageLogo" library="icarus-layout"/>
        </div>
        <div class="ui-g">
            <p:panel header="Login" styleClass="panel-login">
            <h:panelGroup rendered="#{!empty param.login_error}">
						<div class="message error">
							<p>
								<h:outputLabel
									value="Usuário ou senha invalidos. #{SPRING_SECURITY_LAST_EXCEPTION.message} " />
							</p>
						</div>
					</h:panelGroup>
                <div class="ui-g-12" style="padding-top:35px;">
                    <p:inputText id="j_username"  placeholder="Your Email" style="width:60%;"/><br/>
                </div>
                <div class="ui-g-12" style="padding-top:10px;">
                    <p:password id="j_password" placeholder="Your Password" style="width:60%"/>
                </div>
                <div class="ui-g-2"></div>
                <div class="ui-g-8 login-input-container">
                    <div class="ui-g-12 ui-md-6 ui-lg-6">
                        <p:selectBooleanCheckbox value="" style="padding-left:10px;"/>
                        <h:outputText value="Remember me" style="padding-left:5px;"/>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-6">
                        <p:commandLink styleClass="link-decoration" value="Forget Password?" />
                    </div>
                </div>
                <div class="ui-g-2"></div>
                <button type="submit">login</button>
<!--                 <p:commandButton id="loginButton" type="submit" value="Login" /> -->
            </p:panel>
            <div class="ui-g-12 footer-login">
                <span>PrimeFaces Icarus Theme and Layout </span><br/>
                <span>All rights reserved.</span>
            </div>
        </div>

        <style type="text/css">
            html {height: 100%;}
            .ui-button-text, .ui-button-text-only .ui-button-text{padding:8px !important; transition:none !important;}
            .ui-panel .ui-panel-title {font-size: 17px;}
        </style>
		<script>
					document.getElementById("login").j_username.value = "#{SPRING_SECURITY_LAST_USERNAME}";
				</script>
        <h:outputStylesheet name="css/layout-blue.css" library="icarus-layout" />
      </form>
    </h:body>

</html>