<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        
        <title>Login</title>
    </h:head>

    <h:body styleClass="login-body">
      <h:form id="loginForm" action="#{request.contextPath}/j_spring_security_check" method="post"
        prependId="false" onclick="document.#{p:component('loginForm')}.action='/calculadoric/j_spring_security_check';">
        
         
        <div class="login-panel ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12 logo-container">
                    <p:graphicImage name="images/login/login-logo.png" library="poseidon-layout" />
                </div>
					
                <div class="ui-g-12">
                    <p:inputText id="j_username" placeholder="Usuário" />
                </div>
                <div class="ui-g-12">
                    <p:password id="j_password" placeholder="Senha" feedback="false"/>
                </div>
                <div class="ui-g-12 chkbox-container">
                    <p:selectBooleanCheckbox id="remember-me" />
                    <p:outputLabel for="remember-me" value="Lembrar-me"/>
                </div>
                <div class="ui-g-12 button-container">
                    <p:commandButton type="submit"  value="Acessar" icon="fa fa-user" styleClass="turquoise-btn" ajax="false"/>
                     <p:button value="Cadastre-se" icon="fa fa-key" styleClass="green-btn"  outcome="cadastro.jsf"/>
                    <p:button value="Esqueci a senha" icon="fa fa-key" styleClass="blue-btn" />
                </div>
               
            </div>
        </div>


		<script>
			document.getElementById("login").j_username.value = "#{SPRING_SECURITY_LAST_USERNAME}";
		</script>

		<h:outputStylesheet name="css/layout-green.css" library="poseidon-layout" />
        </h:form>
    </h:body>

</html>