<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template.xhtml">
                
    <ui:define name="title">Test Page</ui:define>

    <ui:define name="viewname">Test</ui:define>

    <ui:define name="content">
        Content goes here
    </ui:define>
</ui:composition>