<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>SIBNAS Cadastrar</title>
</h:head>

<h:body styleClass="containerLogin">
	<h:form id="frm">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>Cadastra-se</h1>

					<!-- 					<p:messages/> -->

					<div align="center">
						<p:panelGrid id="painel1" columns="2"
							rendered="#{cadastrarBean.painel1}"
							style="border-top : 6%;border:0px !important; background:none;"
							styleClass="ui-panelgrid-blank">

							<p:outputLabel value="Nome" />
							<p:outputLabel value="#{cadastrarBean.usuario.nome}" />

							<p:outputLabel value="Login" />
							<p:outputLabel value="#{cadastrarBean.usuario.login}" />

							<p:outputLabel value="Email" />
							<p:outputLabel value="#{cadastrarBean.usuario.email}" />

							<p:outputLabel value="Idioma" />
							<p:outputLabel value="#{cadastrarBean.usuario.idioma}" />


							<p:outputLabel value="Nacionalidade" />
							<p:outputLabel value="#{cadastrarBean.usuario.nacionalidade}" />

							<p:outputLabel value="CPF" />
							<p:outputLabel value="#{cadastrarBean.usuario.cpf_cnpj}" />

							<p:outputLabel value="RG" />
							<p:outputLabel value="#{cadastrarBean.usuario.rg}" />

							<p:outputLabel value="Passaporte" />
							<p:outputLabel value="#{cadastrarBean.usuario.passaporte}" />

							<p:outputLabel value="Data de Nascimento" />
							<p:outputLabel value="#{cadastrarBean.usuario.data_nascimento}" >
								  <f:convertDateTime pattern="dd/MM/yyyy"/>
							</p:outputLabel>

							<p:outputLabel value="Sexo" />
							<p:outputLabel value="#{cadastrarBean.usuario.sexo}" />


							<p:outputLabel value="Telefone Residencial" />
							<p:outputLabel value="#{cadastrarBean.usuario.telefone}" />

							<p:outputLabel value="Celular" />
							<p:outputLabel value="#{cadastrarBean.usuario.celular}" />

							<p:outputLabel value="Categoria" />
							<p:outputLabel value="#{cadastrarBean.usuario.categoria}" />


							<p:outputLabel value="Instituição" />
							<p:outputLabel value="#{cadastrarBean.usuario.instituicao}" />


							<p:outputLabel value="Profissão" />
							<p:outputLabel value="#{cadastrarBean.usuario.profissao}" />


							<p:outputLabel value="Graduação" />
							<p:outputLabel value="#{cadastrarBean.usuario.graduacao}" />

							<p:outputLabel value="Especialização" />
							<p:outputLabel value="#{cadastrarBean.usuario.especializacao}" />


							<p:outputLabel value="Mestrado" />
							<p:outputLabel value="#{cadastrarBean.usuario.mestrado}" />


							<p:outputLabel value="Doutorado" />
							<p:outputLabel value="#{cadastrarBean.usuario.doutorado}" />

							<p:outputLabel value="Pós doutorado" />
							<p:outputLabel value="#{cadastrarBean.usuario.posDoutorado}" />


							<p:outputLabel value="Descrição" />
							<p:outputLabel value="#{cadastrarBean.endereco.descricao}" />

							<p:outputLabel value="País"  />
							<p:outputLabel value="#{cadastrarBean.endereco.pais}" />

							<p:outputLabel value="Estado"  />
							<p:outputLabel value="#{cadastrarBean.endereco.estado}"/>


							<p:outputLabel value="Cidade"  />
							<p:outputLabel
								value="#{cadastrarBean.endereco.cidade}"/>
								
							<p:outputLabel value="CEP"  />
							<p:outputLabel value="#{cadastrarBean.endereco.cep}" />

							<p:outputLabel value="Rua" />
							<p:outputLabel value="#{cadastrarBean.endereco.rua}" />

							<p:outputLabel value="Número" />
							<p:outputLabel value="#{cadastrarBean.endereco.numero}" />

							<p:outputLabel value="Complemento" />
							<p:outputLabel
								value="#{cadastrarBean.endereco.complemento}" />

							<h:outputText value=" " />
							<p:commandButton value="Finalizar Cadastro"
								process=":frm" update="@form"
								action="#{cadastrarBean.cadastrarUsuario}" />
						</p:panelGrid>
					</div>



				</div>

			</div>
		</div>
		<style type="text/css">
html {
	height: 100%;
}

.ui-button-text, .ui-button-text-only .ui-button-text {
	padding: 8px !important;
	transition: none !important;
}

.ui-panel .ui-panel-title {
	font-size: 17px;
}

.ui-steps .ui-steps-item {
	width: 24%;
}

.ui-state-highlight {
	text-shadow: none !important;
}

.ui-steps.custom {
	margin-bottom: 30px;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
	height: 10px;
	padding: 0 1em;
}

.ui-steps.custom .ui-steps-item .ui-steps-number {
	background-color: #0081c2;
	color: #FFFFFF;
	display: inline-block;
	width: 30px;
	border-radius: 10px;
	margin-top: -10px;
	margin-bottom: 10px;
}

.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
	color: #555;
}
</style>
		<h:outputStylesheet name="css/layout-blue.css" library="icarus-layout" />
	</h:form>
</h:body>

</html>